#* @vtlvariable name="key" type="com.atlassian.jira.plugins.bitbucket.mapper.SynchronizationKey" *#
<p>Synchronizing <strong>$key.getProjectKey()</strong> at revision <strong>$revision</strong></p>
<p><em>Found <strong>$jiraCount</strong> matching JIRA issues</em></p>