 #gh_oauth_app_screenshot{
     padding-top: 16px;
 }

 .gh_steps li{
     padding-top: 10px;
 }


#gh_config_link{
    margin-top: 10px;
}

#gh_config_link a{
    background: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/pencil_icon.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    font-size: 1em;
}

.gh_config_h4{
    font-weight: normal;
    color: #3676B7;
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 18px;
}

#gh_post_receive_header{
    font-weight: normal;
    font-size: 1em;
    color: #666;
    margin-top: 18px;
    margin-bottom: 10px;
}

#gh_post_receive_textbox{
    font-size: 1em;
    padding: 4px;
}

#gh_post_receive{
    margin-bottom: 10px;
}

.gh_table{
    margin-left: 16px;
    width: 100%
}

.gh_table_project_name{
    font-size: 1em;
    color: #5F6262;
    padding-top: 14px;
}

.gh_table th{
    font-weight: normal;
    color: #656565;
    border-bottom: 1px solid #cccccc;
    font-size: 1em;
}

.gh_table td.status{
    border-bottom: 1px solid #cccccc;
    font-size: 1em;
    padding:0 20px;
}
.gh_table td.status .error{
    color:#f66;
}

.gh_table td{
    font-size: 1em;
}

.gh_table_td_pname{
    border-bottom: none !important;
}

.gh_messages{
    font-size: 1em;
    color: #666;
    font-style: italic;
}

.form {
    margin:20px;
    background-color: #B9E6F0;
    padding: 20px;
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;            
}

.syncicon {
    cursor: pointer;
    width:16px;
    display:inline-block;
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/info.png)
}

.syncicon.error {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/error.png)
}

.syncicon.running {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/working.gif)
}

.syncicon.finished {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/status-ok.png)
}

#postCommitServiceDetails{
    margin-bottom:20px;
}


/* Commit tabs styles */
.CommitContainer {
    float: left;
    position: relative;
    width: 100%;
}
.CommitContainerMargin {
    margin: 5px 0 0 45px;
}
.ComiterImage {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E7E7E7;
    left: 0;
    height: 32px;
    padding: 2px;
    position: absolute;
    width: 32px;
}
.CommiterBody {
    float: left;
    /*left: 10px;*/
    margin: 0;
    width: 100%;
}
.CommiterInfoPanel {
    
}
.CommitUser {
    color: #326CA6;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 5px;
    text-align: left;
    height: 19px;
}
.CommitingDate {
    color: #AEAEAE;
    float: left;
    margin-top: 2px;
    font-size: 12px;
}
.CommitPanel {
    background-color: #f7f7f7;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    float: left;
    padding: 0;
    width: 100%;
    padding: 7px 7px 5px 5px;
    -moz-box-shadow: 1px 1px 1px 1px white inset;
    -webkit-box-shadow: 1px 1px 1px 1px white inset;
    box-shadow: 1px 1px 1px 1px white inset;
}
.CommitHeader {
    float: left;
    min-height: 41px;
    position: relative;
    width: 100%;
}
.CommitBody {
    background-color: #fefefe;
    border: 1px solid #DDDDDD;
    float: left;
    padding: 0 0 8px 0;
    position: relative;
    border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 1px 1px 1px 1px white, 1px 1px 1px 1px #F1F1F1 inset;
    -webkit-box-shadow: 1px 1px 1px 1px white, 1px 1px 1px 1px #F1F1F1 inset;
    box-shadow: 1px 1px 1px 1px white, 1px 1px 1px 1px #F1F1F1 inset;
    width: 100%;
}
.CommitBodyPadding {
    padding: 5px 10px 10px;
}
.CommitBodyUp {
    float: left;
    height: 20px;
    padding-top: 5px;
}
.CommitRows {
    float: left;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin-top: 6px;
    padding-bottom: 1px;
}
.CommitCount {
    float: left;
    position: absolute;
    width: 80px;
    margin-top: 1px;
}
.CommitCountPlus {
    background-color: #CCFFCC;
    border-bottom: 1px solid #228822;
    border-left: 1px solid #228822;
    border-radius: 3px 0 0 3px;
    border-top: 1px solid #228822;
    color: #228822;
    float: left;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 38px;
}
.CommitCountminus {
    background-color: #FFDDDD;
    border: 1px solid #E16161;
    border-radius: 0 3px 3px 0;
    color: #CC3333;
    float: left;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 38px;
}
.CommitHrefDATA {
    color: #326CA6;
    float: left;
    margin-left: 85px;
    word-wrap: break-word;
}
.Text {
    color: #747474;
    margin-right: 165px;
    padding: 8px 0 5px 2px;
    font-size: 13px;
}
.CommitButton {
    background-color: #EEEEEE;
    background-image: url("../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/newwindow.png");
    background-position: 130px 8px;
    background-repeat: no-repeat;
    border: 2px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #326CA6;
    float: right;
    font-weight: bold;
    height: 30px;
    line-height: 31px;
    padding-left: 16px;
    position: absolute;
    right: 0;
    text-align: left;
    width: 140px;
}
.CommitButton:hover {
    background-color: #E3E3E3;
    border: 2px solid #AEAEAE;
}
.CommitCountAdded {
    background-color: #CCFFCC;
    border: 1px solid #228822;
    border-radius: 3px 3px 3px 3px;
    color: #228822;
    float: left;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 76px;
}
.CommitCountRemoved {
    background-color: #FFDDDD;
    border: 1px solid #E16161;
    border-radius: 3px 3px 3px 3px;
    color: #CC3333;
    float: left;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 76px;
}
.CommitBodyUpTitle {
    background-image: url("../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/branch.png");
    background-repeat: no-repeat;
    float: left;
    height: 17px;
    line-height: 16px;
    margin-right: 5px;
    padding-left: 20px;
    color: #747474;
}
.CommitLeft .Title {
    color: #326CA6;
    float: left;
    font-size: 16px;
    font-weight: normal;
    height: 17px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 15px;
}
.CommitLeft .Text {
    color: #326CA6;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 15px;
}
.CommiterInfoRow {
    background-image: url("../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/bubblecorner.png");
    background-repeat: no-repeat;
    border-bottom: 1px solid #f7f7f7;
    height: 9px;
    margin-left: 12px;
    margin-top: 22px;
    position: absolute;
    width: 17px;
}
.message-container {
    border-bottom: 1px solid #EEEEEE;
    float: left;
    height: inherit;
    padding-bottom: 1.5em;
    width: 100%;
    border: none !important;
}
