<table>
    <tr>
        <td valign='top' width='70px'><a href='$user_url' target='_new'><img src='$gravatar_url' border='0'></a></td>
        <td valign='top'>
            <div style='padding-bottom: 6px'><a href='$user_url' target='_new'>$user_name - $login</a></div>
            <table>
                <tr>
                    <td>
                        <div style='border-left: 2px solid #C9D9EF; background-color: #EAF3FF; color: #5D5F62; padding: 5px; margin-bottom: 10px;'>
                            $issue_linker.createLinks($commit_message)
                        </div>

                        <ul>
                            #foreach ( $file in $changeset.getFiles() )
                                #set ( $file_name = $file.getFile() )
                                #set ( $color = $file.getFileAction().getColor() )
                                #set ( $file_action_name = $file.getFileAction().toString() )
                                #set ( $file_commit_url = $repository.getRepositoryUri.getFileCommitUrl($changeset.getNode(),
                                    $velocity_utils.encodeUtf8($file.getFile())) )

                                <li><span style='color:$color; font-size: 8pt;'>$file_action_name</span>
                                    <a href='$file_commit_url' target='_new'>$file_name</a>
                                </li>
                            #end
                        </ul>
                        <div style='margin-top: 10px'><img src='$document_jpg_url' align='center'>
                            <span class='commit_date'
                                  style='color: #757575; font-size: 9pt;'>$formatted_commit_date</span>&nbsp;&nbsp;
                            <span class='commit_date'
                                  style='color: #757575; font-size: 9pt;'>$velocity_utils.getRelativePastDate($changeset.getTimestamp())</span>
                        </div>

                    </td>

                    <td width='400' style='padding-top: 0px' valign='top'>
                        <div style='border-left: 2px solid #cccccc; margin-left: 15px; margin-top: 0px; padding-top: 0px; padding-left: 10px'>
                            <table style='margin-top: 0px; padding-top: 0px;'>
                                <tr>
                                    <td style='color: #757575'>Changeset:</td>
                                    <td><a href='$commit_url' target='_new'>$commit_hash</a></td>
                                </tr>

                                #set ( $repository_uri = $repository.getRepositoryUri() )
                                #if ( !$changeset.getParents().isEmpty() )
                                    #foreach ( $parent_node in $changeset.getParents() )
                                        #set ( $parent_url = $repository_uri.getParentUrl($parent_node) )
                                        <tr>
                                            <td style='color: #757575'>Parent:</td>
                                            <td><a href='$parent_url' target='_new'>$parent_node</a></td>
                                        </tr>
                                    #end
                                #end
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
