#if($error)
    <div class="aui-message error">
        <p class="title">
            <span class="aui-icon icon-error"></span>
            <strong>Error!</strong>
        </p>
        <p>$error</p>
    </div>
#else
	
    #if($groups.isEmpty())
        <div>There are no <a href="https://bitbucket.org/account/user/${organization.name}/groups/" target="_blank">Bitbucket groups</a> configured for the selected account.</div>
    #else
		<strong>When adding new users to JIRA, by default invite the user to <a href="https://bitbucket.org/account/user/${organization.name}/groups/" target="_blank">join the following Bitbucket groups</a>:</strong>
		<table class="aui">
			<tbody>
        	#foreach($group in $groups)
         		#if($configuredSlugs.contains($group.slug))
         			#set( $selectedGroup = "checked='checked'")
         			#else
         			#set( $selectedGroup = "")
         		#end
         		<tr>
         			<td>
         				<input type="checkbox" 
         					id="default-group-slug-$group.slug"
         					name="organizationDefaultGroups" value="$group.slug"
         					$!selectedGroup /> 
         				
         				<label for="default-group-slug-$group.slug" >
         				 $textutils.htmlEncode($group.niceName) 
         				</label> 
         			</td>
         		</tr>
    		#end
			</tbody>
		</table>
    #end
#end
