<table class="aui">

			 		<thead>
				 		<tr>
				 			<th>When adding new users to JIRA, by default invite the user to join the following Bitbucket groups:</th>
				 		</tr>
			 		</thead>
			 		
			 		<tbody>
			 		
			 		#if(!$groups.isEmpty())
			 		
				 		#foreach($group in $groups)
	
					 		#if($configuredSlugs.contains($group.slug))
					 			#set( $selectedGroup = "checked='checked'")
					 			#else
					 			#set( $selectedGroup = "")
					 		#end
					 		<tr>
					 			<td>
					 				
					 				<input type="checkbox" 
					 					id="default-group-slug-$group.slug"
					 					name="organizationDefaultGroups" value="$group.slug"
					 					$!selectedGroup /> 
					 				
					 				<label for="default-group-slug-$group.slug" >
					 				 $textutils.htmlEncode($group.niceName) 
					 				</label> 
					 			</td>
					 		</tr>
					 		
					 	#end
					 	
					 	#else
					 	
					 	<tr><td> There are no groups configured for the selected account. </td></tr>
					 	
				 	#end
				 		
			 		</tbody>

</table>