.CommitUser {
    height:auto;/* stops very long commit user covering commit date */
    margin-bottom: 0;
    padding-left:  0;
    word-wrap:break-word;/* wrap very long names */
}
.CommitUser,
.CommitingDate {
    float: none;/* always have the name and date on separate lines */
}
.CommiterInfoRow {
    display: none;
}
