.avatar { display: inline; }
.avatar16 { border-radius: 2px; height: 16px; width: 16px; }
.avatar32 { border-radius: 3px; width: 32px; height: 32px; }
code, tt { background: #f5f5f5; border: 1px solid #ccc; border-radius: 2px; padding: 1px 3px; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Solution from https://github.com/necolas/normalize.css/blob/master/normalize.css */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/*! AUI Lozenge */
.aui-lozenge { margin: 0 3px; background: #ccc; border: 1px solid #ccc; border-radius: 3px; color: #333; display: inline-block; font-size: 11px; font-weight: bold; line-height: 1; margin: 0; padding: 2px 5px 1px 5px; text-align: center; text-decoration: none; text-transform: uppercase; }
.aui-lozenge.aui-lozenge-subtle { background-color: #fff; border-color: #ccc; color: #333; }
.aui-lozenge-success { background-color: #14892c; border-color: #14892c; color: #fff; }
.aui-lozenge-success.aui-lozenge-subtle { background-color: #fff; border-color: #b2d8b9; color: #14892c; }
.aui-lozenge-error { background-color: #d04437; border-color: #d04437; color: #fff; }
.aui-lozenge-error.aui-lozenge-subtle { background-color: #fff; border-color: #f8d3d1; color: #d04437; }
.aui-lozenge-current { background-color: #ffd351; border-color: #ffd351; color: #594300; }
.aui-lozenge-current.aui-lozenge-subtle { background-color: #fff; border-color: #ffe28c; color: #594300; }
.aui-lozenge-complete { background-color: #4a6785; border-color: #4a6785; color: #fff; }
.aui-lozenge-complete.aui-lozenge-subtle { background-color: #fff; border-color: #e4e8ed; color: #4a6785; }
.aui-lozenge-moved { background-color: #815b3a; border-color: #815b3a; color: #fff; }
.aui-lozenge-moved.aui-lozenge-subtle { background-color: #fff; border-color: #ece7e2; color: #815b3a; }/*! AUI Badge */

/* Labels styles specific to lists */
.commit-list { position: relative; width: 100%; }
.commit-list > tbody > tr:last-child { border-bottom: none }
.commit-list > tbody > tr > td:first-child { border-left: 2px solid transparent; }
.commit-list td > div { height: 18px; line-height: 1.286;  overflow: hidden; text-overflow: ellipsis; }
.commit-list > tbody > tr:first-child > td { border-top: none; }
.commit-list td.user .avatar, .commit-list td.author .avatar { float: left; margin: 1px 8px 0 0; }
.commit-list td.user a:hover, .commit-list td.author a:hover { text-decoration: none; }
.commit-list td.user a:hover span, .commit-list td.author a:hover span { text-decoration: underline; }
.commit-list .count-badge { margin-top: 6px; padding: 0; /* Higher specifity for padding than in count-badge.css. */}
.commit-list .fade-left { padding-left: 10px; }
.commit-list .fade-left:before { position: absolute; left: -32px; bottom: 0; top: 0; display: block; content: ""; width: 32px; background: transparent; background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #fff); background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff); background: -o-linear-gradient(left, rgba(255, 255, 255, 0), #fff); background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #fff); background: linear-gradient(left, rgba(255, 255, 255, 0), #fff); }
.commit-list { margin-bottom: 10px; }
.commit-list thead th { display: none; }
.commit-list th.labels, .commit-list th.comments, .commit-list th.likes { position: absolute; left: -9999px; }
.commit-list td.author { width: 132px; }
.commit-list td.labels { position: absolute; right: 110px; background: #fff; height: 18px; }
.commit-list .date { text-align: right; }
.commit-list td.date { width: 100px; }
.commit-list td.hash { width: 50px; }
.commit-list td.author > div { width: 132px; white-space: nowrap; }
.commit-list .count-badge { position: absolute; right: 110px; }

#activity-list { margin: 0; padding: 0; list-style: none; }
#activity-list a.hash { font: 85% Monaco, monospace; }
#activity-list .comment { position: relative; border-top: 1px solid #ccc; }
#activity-list .activity-item {position: relative; border-top: 1px solid #ccc; min-height: 28px; /* semi-hack to provide good styling; could use better/more consistent markup eventually */ padding-top: 10px; }
#activity-list .comment header .avatar { position: absolute; left: 0; top: 10px; }
#activity-list .activity-item header .avatar { position: absolute; left: 0; }
#activity-list .comment header, #activity-list .comment .comment-content { padding-left: 42px; }
#activity-list .activity-item header { margin-bottom: 10px; min-height: 32px; }
#activity-list .author { font-weight: bold; line-height: 1; }
#activity-list .activity-item .content { margin-left: 42px; padding: 0 0 8px 0; }
#activity-list .comment article { padding-top: 10px; }
#activity-list .comment .child-comments { clear: both; margin: 0 0 0 52px; padding: 0; list-style: none; }
#activity-list .comment .comment-content { margin-top: 5px; overflow: hidden; word-wrap: break-word; }
#activity-list .comment .comment-actions { font-size: 12px; list-style: none; margin: 5px 0 0 42px; padding: 0 0 25px 0; }
#activity-list .activity-item header .summary { display: inline; padding-left: 42px; }
#activity-list .comment .comment-actions { font-size: 12px;  list-style: none;  margin: 5px 0 0 42px; padding: 0 0 25px 0; }
#activity-list .comment article.loading .comment-actions { margin-left: 10px; padding-left: 32px; background: url('https://dir3o3ncbjs72.cloudfront.net/m/54593a8c76b5/img/loading.gif?9a8269421303') no-repeat top left; }
#activity-list .comment .comment-actions > li { float: left; }
#activity-list .comment .comment-actions > li:before { padding: 0 3px 0 6px; content: "¥"; color: #707070; }
#activity-list .comment .comment-actions > li:first-child:before { content: none; }
#activity-list .comment .comment-actions > li a { color: #707070; }