#gh_oauth_app_screenshot{
     padding-top: 16px;
 }

.gh_steps li {
     margin-top: 15px;
 }

#gh_config_link{
    margin-top: 10px;
}

#gh_config_link a{
    background: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/pencil_icon.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    font-size: 1em;
}

.gh_config_h4{
    font-weight: normal;
    color: #3676B7;
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 18px;
}

#gh_post_receive_header{
    font-weight: normal;
    font-size: 1em;
    color: #666;
    margin-top: 18px;
    margin-bottom: 10px;
}

#gh_post_receive_textbox{
    font-size: 1em;
    padding: 4px;
}

#gh_post_receive{
    margin-bottom: 10px;
}

.gh_table{
    margin-left: 15px;
    margin-bottom: 30px;
    width: 96%
}

.gh_table_project_name{
    font-size: 1.18em;
    /*color: #5F6262;*/
    color: #939393;
    font-weight: bold;
}

.gh_table_project_key{
    font-size: 1.18em;
    color: #707070;
    padding-left: 10px;
}

.gh_table th {
    font-weight: normal;
    color: #656565;
    border-bottom: 1px solid #cccccc;
    font-size: 1em;
}

.gh_table td.status{
    border-bottom: 1px solid #cccccc;
    font-size: 1em;
    padding:0 20px;
}
.error{
    color:#f66;
}

.gh_table td{
    font-size: 1em;
    vertical-align: middle;
    padding-bottom: 0;
}

.gh_table_td_pname{
    /*border-bottom: none !important;*/
    padding-top: 20px;
    border-bottom: 1px solid #cccccc;
}

.gh_messages{
    font-size: 1em;
    font-style: italic;
}

.form {
    margin:20px;
    background: #F0F0F0;
    border: 1px solid #BBB;
    padding: 20px;
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;            
}

 form.aui.top-label {
     margin-top: 16px;
 }

 .dvcs-submit {
     padding: 4px 8px !important;
 }

.syncicon {
    width:16px;
    /*background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/info.png);*/
    background-repeat: no-repeat;
    display: none;
}

 .syncrepoicon {
     width: 16px;
     height: 16px;
     background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/not_working.png);
     background-repeat: no-repeat;
     display: inline-block;
 }
 
  .syncrepoicon:ACTIVE {
  	top: 1px;
  	left: 1px;
  	position: relative;
 }

 .syncrepoicon.running {
     background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/working.gif);
 }
 
 #configureDefaultGroupsContentWorking {
     background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/working.gif);
     width: 16px;
     height: 16px;
 }


.syncicon.error {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/error.png);
    display:inline-block;
}

.syncicon.running {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/working.gif);
    display:inline-block;
}

.syncicon.finished {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/status-ok.png);
    display:inline-block;
}

.syncicon.commits {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/clock.png);
    display:inline-block;
    background-position: 0 2px;
}

.bitbucketLogo {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/bitbucket_logo.png);
    background-repeat: no-repeat;
}

.githubLogo {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/github_logo.png);
    background-repeat: no-repeat;
}

.githubeLogo {
	background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/github_logo.png);
	background-repeat: no-repeat;
}

h4.bitbucketLogo, h4.githubLogo, h4.githubeLogo {
	padding-left: 27px;	
}

#postCommitServiceDetails{
    margin-bottom:20px;
}





.customClose {
    cursor: pointer;
    left: auto !important;
    position: absolute;
    right: 6px !important;
    top: 6px !important;
}

.repositoryName {
    font-size: 1.18em;
    font-weight: bold;
    color: #777;
}

a:hover.repositoryNameLink {
    text-decoration: none;
}

.aui-item-column1 {
    display: inline;
    float: left;
    margin-bottom:12px;
    
}

#addRepositoryContent {
    margin: 0 20px 0 0;
    color: #555 !important;
}

#addRepositoryDetails {
    padding: 10px; 
    display: none;	
}

#addRepositoryContent label, .aui-message label {
    color: #555 !important;
    font-weight: bold;
    padding-bottom: 6px;
}
#addRepositoryContent h4, .aui-message h4, .aui-message h3 {
    color: #666 !important;
}

.aui-message h4 {
    margin-bottom: 15px;
}

#add-org-form-container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: none;
}

#addRepositoryContent div,  #addRepositoryContent input, #add-org-form-container input {
    color: #555;
}

#addRepositoryDetails .field-group input, #add-org-form-container .field-group input {
    width: 380px	
}
#addRepositoryDetails .field-group input[type="checkbox"],
#add-org-form-container .field-group input[type="checkbox"] {
	width: auto;
	margin-top: 5px;
	vertical-align: middle;
}
.notbold {
	font-weight: normal;
}

.vert-space {
	margin-top: 7px;
	margin-bottom: 7px;
}
#aui-message-bar {
    clear: both;
}

.dvcs-update-cred-dialog {
	margin-top: 30px;
}

.dvcs-error {
	color: red !important;
	display: none;
}
.dvcs-org-reponame {
	width: 400px;
}
.dvcs-autolink-repo {
	width: 70px;
}
.dvcs-smartcommits-repo {
	width: 70px;
	text-align: center !important;
}
.dvcs-smartcommits-head {
	text-align: center !important;
}

.dvcs-sync-repo {
    width: 100px;
}

.repo_autolink_check, .repo_smartcommit_check {
    position: relative;
    top: 2px;
}

#dvcs-change-pass-dialog .dialog-button-panel, #dvcs-default-groups-dialog .dialog-button-panel {
	border-top: 1px solid #d2d2d2;
	margin-bottom: 7px;
}
.dvcs-even-row td {
	background-color: #eaeaea;
}
.dvcs-nodisplay {
	display: none;
}
.dvcs-repos-table.aui > thead {
}
.dvcs-repo-row:HOVER {
	background-color: #F2F2F2;
}
.dvcs-repos-table > thead > tr > th {
	color: f0f0f0 !important;
}
.dvcs-centered {
	text-align: center !important;
}
.dvcs-repos-table .dvcs-disabled {
	color: #959595 !important;
}
.dvcs-repos-table .dvcs-disabled a {
	color: #A1B9ED !important;
}
.dvcs-action-container {
	/*white-space: nowrap;*/
}
.dvcs-config-panel {
	margin-top: 10px;
	margin-bottom: 5px;
}

#addRepositoryContent .buttons-container, #add-org-form-container .buttons-container {
	border-top: none;
}

select#urlSelect {
	width: 387px;
}
.dvcs-organization-controls {
}
.dvcs-org-container .dropdown-item {
}

.dvcs-org-container .dropdown-item {
	margin: 9px !important;
}
/*
.dvcs-org-container .dropdown-item.active {
	background-color: #3C78B5 !important;
}
.dvcs-org-container .dropdown-item.active a {
	color: white !important;
} */

.dvcs-org-container.aui-toolbar {
	float: right;
	width: auto !important;
	clear: none !important;
}

.dvcs-org-container.aui-toolbar .aui-dropdown a {
	margin-left: 0 !important;
	padding-left: 0 !important;
}
.dvcs-org-container.aui-toolbar .aui-dropdown input {

}

.aui.bitbucketLogo, .aui.githubLogo, .aui.githubeLogo {
	float: left;
	position: relative;
	top: 2px;
}
.dvcs-header-container {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 25px;
	vertical-align: bottom;
}
.dvcs-clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.dvcs-dclear {
	display: inline-block;
}
 
html[xmlns] .dvcs-dclear {
	display: block;
}
 
* html .dvcs-dclear {
	height: 1%;
}


#bitbucket-form-section {
	margin-top: 10px;
}
#github-form-section {
	margin-top: 10px;
}

.dvcs-account-ondemand {
	width: 115px;
    height: 28px;
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/ondemand_logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: -7px;
}
.dvcs-account-enterprise {
	width: 110px;
    height: 29px;
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/ghe_logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: -4px;
}

.dvcs-no-repos {
	margin: 25px;
	font-size: 1.1em;
	font-style: italic;
}
.dvcs-bb-oauth-info {
	margin-top: 20px;
}
.dvcs-invalid-organization {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/error.png);
    background-repeat: no-repeat;
    background-position: 4px -1px; 
    display: inline-block;
    padding-left: 25px;
    position:relative;
    font-weight: normal;
    font-size:11px;
    top: 4px;
}

.dvcs-wait {
	background-image:url(../../../../images/icons/wait.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right:25px;
	min-height:25px;
	color: #777;
	font-size: 1.2em;
}

/* Force synchronization inline dialog style */
div.jira-dvcs-connector-plugin.forceSyncDialog {
	margin: 2.5ex;
}
div.jira-dvcs-connector-plugin.forceSyncDialog ul {
	padding: 0;
	margin: 0;
}
div.jira-dvcs-connector-plugin.forceSyncDialog li {
	list-style: none;
	text-align: justify;
	margin-bottom: 2.5ex;
}
div.jira-dvcs-connector-plugin.forceSyncDialog .buttons {
	margin: 1ex 2.5ex;
}

.dvcs-organization-controls-tool button.toolbar-trigger.aui-dd-trigger {
  height: 30px;
  padding: 0px 12px 0px 2px !important;
  margin: 0px !important;
}

.dvcs-organization-controls-tool .icon-tools-small {
    height: 14px;
    width: 16px;
    padding: 0px !important;
    margin: 0px 6px 0px 0px !important;
    float: left;
}
.dvcs-organization-controls-tool button:after {
  border: 4px solid transparent;
  border-top-color: #111;
  content: "";
  position: absolute;
  margin-top: 3px;
}




