 #gh_oauth_app_screenshot{
     padding-top: 16px;
 }

 .gh_steps li{
     padding-top: 10px;
 }


#gh_config_link{
    margin-top: 10px;
}

#gh_config_link a{
    background: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/pencil_icon.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    font-size: 1em;
}

.gh_config_h4{
    font-weight: normal;
    color: #3676B7;
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 18px;
}

#gh_post_receive_header{
    font-weight: normal;
    font-size: 1em;
    color: #666;
    margin-top: 18px;
    margin-bottom: 10px;
}

#gh_post_receive_textbox{
    font-size: 1em;
    padding: 4px;
}

#gh_post_receive{
    margin-bottom: 10px;
}

.gh_table{
    margin-left: 15px;
    margin-bottom: 30px;
    width: 96%
}

.gh_table_project_name{
    font-size: 1.18em;
    /*color: #5F6262;*/
    color: #939393;
    font-weight: bold;
}

.gh_table_project_key{
    font-size: 1.18em;
    color: #707070;
    padding-left: 10px;
}

.gh_table th{
    font-weight: normal;
    color: #656565;
    border-bottom: 1px solid #cccccc;
    font-size: 1em;
}

.gh_table td.status{
    border-bottom: 1px solid #cccccc;
    font-size: 1em;
    padding:0 20px;
}
.gh_table td.status .error{
    color:#f66;
}

.gh_table td{
    font-size: 1em;
    vertical-align: middle;
    padding-bottom: 0;
}

.gh_table_td_pname{
    /*border-bottom: none !important;*/
    padding-top: 20px;
    border-bottom: 1px solid #cccccc;
}

.gh_messages{
    font-size: 1em;
    color: #959595;
    font-style: italic;
}

.form {
    margin:20px;
    background: #F0F0F0;
    border: 1px solid #BBB;
    padding: 20px;
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;            
}

 form.aui.top-label {
     margin-top: 16px;
 }

 .dvcs-submit {
     padding: 4px 8px !important;
 }

.syncicon {
    width:16px;
    /*background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/info.png);*/
    background-repeat: no-repeat;
    display: none;
}

.syncicon.error {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/error.png);
    display:inline-block;
}

.syncicon.running {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/working.gif);
    display:inline-block;
}

.syncicon.finished {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/status-ok.png);
    display:inline-block;
}

.syncicon.commits {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/clock.png);
    display:inline-block;
    background-position: 0 2px;
}

.bitbucketLogo {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/bitbucket_logo.png);
    background-repeat: no-repeat;
    padding: 20px 17px;
    background-position: 10px 17px;
}

.githubLogo {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/github_logo.png);
    background-repeat: no-repeat;
    padding: 20px 17px;
    background-position: 8px 15px;
}

#postCommitServiceDetails{
    margin-bottom:20px;
}


/* Commit tabs styles */
.CommitContainer {
    float: left;
    position: relative;
    width: 100%;
}
.CommitContainerMargin {
    margin: 5px 0 0 45px;
}
.ComiterImage {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E7E7E7;
    left: 0;
    height: 32px;
    padding: 2px;
    position: absolute;
    width: 32px;
}
.CommiterBody {
    float: left;
    /*left: 10px;*/
    margin: 0;
    width: 100%;
}
.CommiterInfoPanel {
    
}
.CommitUser {
    color: #326CA6;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 5px;
    text-align: left;
    height: 19px;
}
.CommitingDate {
    color: #AEAEAE;
    float: left;
    margin-top: 2px;
    font-size: 12px;
}
.CommitPanel {
    background-color: #f7f7f7;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    float: left;
    padding: 0;
    width: 100%;
    padding: 7px 7px 5px 5px;
    -moz-box-shadow: 0px 1px 0px white inset;
    -webkit-box-shadow: 0px 1px 0px white inset;
    box-shadow: 0px 1px 0px white inset;
}
.CommitHeader {
    float: left;
    min-height: 37px;
    position: relative;
    width: 100%;
}
.CommitBody {
    background-color: #fefefe;
    border: 1px solid #DDDDDD;
    float: left;
    padding: 0 0 8px 0;
    position: relative;
    border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0px 1px 0px white, 0px 1px 0px #F1F1F1 inset;
    -webkit-box-shadow: 0px 1px 0px white, 0px 1px 0px #F1F1F1 inset;
    box-shadow: 0px 1px 0px white, 0px 1px 0px #F1F1F1 inset;
    width: 100%;
}
.CommitBodyPadding {
    padding: 5px 10px 10px;
}
.CommitBodyUp {
    float: left;
    height: 20px;
    padding-top: 5px;
}
.CommitRows {
    float: left;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin-top: 6px;
    padding-bottom: 1px;
}
.CommitCount {
    float: left;
    position: absolute;
    width: 80px;
    margin-top: 1px;
    line-height: 1.2;
}
.CommitCountPlus {
    background-color: #CCFFCC;
    border-bottom: 1px solid #228822;
    border-left: 1px solid #228822;
    border-radius: 3px 0 0 3px;
    border-top: 1px solid #228822;
    color: #228822;
    float: left;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 38px;
}
.CommitCountMinus {
    background-color: #FFDDDD;
    border: 1px solid #E16161;
    border-radius: 0 3px 3px 0;
    color: #CC3333;
    float: left;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 38px;
}
.CommitHrefDATA {
    color: #326CA6;
    float: left;
    margin-left: 85px;
    word-wrap: break-word;
}
.Text {
    color: #747474;
    margin-right: 165px;
    padding: 8px 0 5px 2px;
    font-size: 13px;
}
.CommitButton {
    background: #f7f7f7; /* Old browsers */
    background-image: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/newwindow.png'), -moz-linear-gradient(top, #f7f7f7 1%, #eeeeee 100%); /* FF3.6+ */
    background-image: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/newwindow.png'), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f7f7f7), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
    background-image: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/newwindow.png'), -webkit-linear-gradient(top, #f7f7f7 1%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background-image: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/newwindow.png'), -o-linear-gradient(top, #f7f7f7 1%, #eeeeee 100%); /* Opera 11.10+ */
    background-image: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/newwindow.png'), -ms-linear-gradient(top, #f7f7f7 1%, #eeeeee 100%); /* IE10+ */
    background-image: url('../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/newwindow.png'), linear-gradient(top, #f7f7f7 1%, #eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f7f7f7', endColorstr = '#eeeeee', GradientType = 0); /* IE6-9 */
    background-repeat: no-repeat;
    background-position: center right;
    float: right;
    /*margin: 12px 0;*/
    padding: 0 30px 0 10px;
    display: block;
    line-height: 28px;
    height: 28px;
    font-size: 14px;
    border: solid 1px #dddddd;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.3), inset 0px 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.3), inset 0px 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 1px rgba(255, 255, 255, 0.3), inset 0px 1px rgba(255, 255, 255, 0.3);
}
.CommitButton:hover {
    background-color: #E3E3E3;
    border: 1px solid #AEAEAE;
}
.CommitCountAdded {
    background-color: #CCFFCC;
    border: 1px solid #228822;
    border-radius: 3px 3px 3px 3px;
    color: #228822;
    float: left;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 76px;
}
.CommitCountRemoved {
    background-color: #FFDDDD;
    border: 1px solid #E16161;
    border-radius: 3px 3px 3px 3px;
    color: #CC3333;
    float: left;
    font-size: 12px;
    height: 14px;
    text-align: center;
    width: 76px;
}
.CommitBodyUpTitle {
    background-image: url("../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/branch.png");
    background-repeat: no-repeat;
    float: left;
    height: 17px;
    line-height: 16px;
    margin-right: 5px;
    padding-left: 20px;
    color: #747474;
}
.CommitLeft .Title {
    color: #326CA6;
    float: left;
    font-size: 16px;
    font-weight: normal;
    height: 17px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 15px;
}
.CommitLeft .Text {
    color: #326CA6;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 15px;
}
.CommiterInfoRow {
    background-image: url("../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/bubblecorner.png");
    background-repeat: no-repeat;
    border-bottom: 1px solid #f7f7f7;
    height: 9px;
    margin-left: 12px;
    margin-top: 22px;
    position: absolute;
    width: 17px;
}

.dvcs-message .message-container {
    border-bottom: 1px solid #EEEEEE;
    float: left;
    height: inherit;
    padding-bottom: 1.5em;
    width: 100%;
}

.customClose {
    cursor: pointer;
    left: auto !important;
    position: absolute;
    right: 6px !important;
    top: 6px !important;
}

.repositoryName {
    font-size: 1.18em;
    font-weight: bold;
    color: #777;
}

a:hover.repositoryNameLink {
    text-decoration: none;
}

.aui-item-column1 {
    display: inline;
    float: left;
    margin-bottom:12px;
    
}

.aui-item-column2 {
    display: inline;
    float: left;
    padding-left: 35px;
}

#addRepositoryContent {
    margin: 0 20px 0 0;
    color: #555 !important;
}

#addRepositoryDetails {
    padding: 10px; 
    display: none;	
}

#addRepositoryContent label {
    color: #555 !important;
    font-weight: bold;
    padding-bottom: 6px;
}
#addRepositoryContent h4 {
    color: #666 !important;
}

#addRepositoryContent div,  #addRepositoryContent input {
    color: #555;
}

#addRepositoryDetails .field-group input {
    width: 380px	
}

.notbold {
	font-weight: normal;
}

.vert-space {
	margin-top: 7px;
	margin-bottom: 7px;
}
#aui-message-bar {
    clear: both;
}
.dvcs-organization-controls {
	text-align: right;
	border-bottom: 1px solid #f1f2f3;
}
.dvcs-update-cred-dialog {
	margin-top: 30px;
}

.dvcs-error {
	color: red !important;
	display: none;
}
.dvcs-org-reponame {
	width: 600px;
}
#dvcs-change-pass-dialog .dialog-button-panel {
	border-top: 1px solid #d2d2d2;
	margin-bottom: 7px;
}