

.gh_messages{
    font-size: 1em;
    font-style: italic;
}

.form {
    margin:20px;
    background: #F0F0F0;
    border: 1px solid #BBB;
    padding: 20px;
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;            
}

 form.aui.top-label {
     margin-top: 16px;
 }

 .dvcs-submit {
     padding: 4px 8px !important;
 }

.syncicon {
    width:16px;
    /*background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/info.png);*/
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    display: none;
}

 .syncrepoicon {
     width: 16px;
     height: 16px;
     background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/not_working.png);
     background-repeat: no-repeat;
     vertical-align: text-bottom;
     display: inline-block;
 }

 
.syncrepoicon:ACTIVE {
  	top: 1px;
  	left: 1px;
  	position: relative;
 }

 .syncrepoicon.running {
     background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/working.gif);
     cursor: default;
 }
 .syncrepoicon.syncrepoiconqueue {
     background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/queued.png);
     cursor: default;
 }
.syncicon.error {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/error.png);
    display:inline-block;
}

.syncicon.running {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/working.gif);
    display:inline-block;
}

.syncicon.finished {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/status-ok.png);
    display:inline-block;
}

.syncicon.commits {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/clock.png);
    display:inline-block;
    background-position: 0 2px;
}

.bitbucketLogo {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/bitbucket_logo.png);
    background-repeat: no-repeat;
}

.githubLogo {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/github_logo.png);
    background-repeat: no-repeat;
}

.githubeLogo {
	background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/githube_logo.png);
	background-repeat: no-repeat;
}

h4.bitbucketLogo, h4.githubLogo, h4.githubeLogo {
	padding-left: 27px;
	background-size: 20px 20px;
}

#postCommitServiceDetails{
    margin-bottom:20px;
}





.customClose {
    cursor: pointer;
    left: auto !important;
    position: absolute;
    right: 6px !important;
    top: 6px !important;
}

.repositoryName {
    font-size: 1.18em;
    font-weight: bold;
    color: #777;
}

a:hover.repositoryNameLink {
    text-decoration: none;
}

.aui-item-column1 {
    display: inline;
    float: left;
    margin-bottom:12px;
    
}

#addRepositoryContent {
    margin: 0 20px 0 0;
    color: #555 !important;
}

#addRepositoryDetails {
    padding: 10px; 
    display: none;	
}

#addRepositoryContent label, .aui-message label {
    color: #555 !important;
    font-weight: bold;
    padding-bottom: 6px;
}
#addRepositoryContent h4, .aui-message h4, .aui-message h3 {
    color: #666 !important;
}

.aui-message h4 {
    margin-bottom: 15px;
}

#add-org-form-container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: none;
}

#addRepositoryContent div,  #addRepositoryContent input, #add-org-form-container input {
    color: #555;
}

#addRepositoryDetails .field-group input, #add-org-form-container .field-group input {
    width: 380px	
}
#addRepositoryDetails .field-group input[type="checkbox"],
#add-org-form-container .field-group input[type="checkbox"] {
	width: auto;
	margin-top: 5px;
	vertical-align: middle;
}
.notbold {
	font-weight: normal;
}

.vert-space {
	margin-top: 7px;
	margin-bottom: 7px;
}
#aui-message-bar {
    clear: both;
}

.dvcs-update-cred-dialog {
	margin-top: 30px;
}

.dvcs-error {
	display: none;
}
.dvcs-org-reponame {
	width: 400px;
}
.dvcs-autolink-repo {
	width: 70px;
}
.dvcs-smartcommits-repo {
	width: 70px;
	text-align: center !important;
}
.dvcs-smartcommits-head {
	text-align: center !important;
}

.dvcs-sync-repo {
    width: 100px;
}

#dvcs-change-pass-dialog .dialog-button-panel, #dvcs-default-groups-dialog .dialog-button-panel {
	border-top: 1px solid #d2d2d2;
	margin-bottom: 7px;
}
.dvcs-even-row td {
	background-color: #eaeaea;
}
.dvcs-nodisplay {
	display: none;
}
.dvcs-repos-table.aui > thead {
}
.dvcs-repo-row:HOVER {
	background-color: #F2F2F2;
}
.dvcs-repos-table > thead > tr > th {
	color: f0f0f0 !important;
}
.dvcs-centered {
	text-align: center !important;
}
.dvcs-repos-table .dvcs-disabled a {
	filter: alpha(opacity=36);
	opacity: 0.36;
}
.dvcs-action-container {
	/*white-space: nowrap;*/
}
.dvcs-config-panel {
	margin-top: 10px;
	margin-bottom: 5px;
}

#addRepositoryContent .buttons-container, #add-org-form-container .buttons-container {
	border-top: none;
}

select#urlSelect {
	width: 387px;
}

.dvcs-org-container {
	float: right;
	width: auto !important;
	clear: none !important;
}

.aui.bitbucketLogo, .aui.githubLogo, .aui.githubeLogo, .aui.dvcsLogo {
	float: left;
	position: relative;
	top: 2px;
}
.dvcs-header-container {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 25px;
	vertical-align: bottom;
}
.dvcs-clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.dvcs-dclear {
	display: inline-block;
}
 
html[xmlns] .dvcs-dclear {
	display: block;
}
 
* html .dvcs-dclear {
	height: 1%;
}


#bitbucket-form-section {
	margin-top: 10px;
}
#github-form-section {
	margin-top: 10px;
}

.dvcs-account-ondemand {
	width: 115px;
    height: 28px;
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/ondemand_logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: -7px;
}
.dvcs-account-enterprise {
	width: 110px;
    height: 29px;
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/ghe_logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: -4px;
}

.dvcs-no-repos {
	margin: 25px;
	font-size: 1.1em;
	font-style: italic;
}
.dvcs-bb-oauth-info {
	margin-top: 20px;
}
.dvcs-invalid-organization {
    background-image: url(../../../download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/error.png);
    background-repeat: no-repeat;
    background-position: 4px -1px; 
    display: inline-block;
    padding-left: 25px;
    position:relative;
    font-weight: normal;
    font-size:11px;
    top: 2px;
    color: #D04437;
}

/* Force synchronization inline dialog style */
div.jira-dvcs-connector-plugin.forceSyncDialog {
	margin: 2.5ex;
}
div.jira-dvcs-connector-plugin.forceSyncDialog ul {
	padding: 0;
	margin: 0;
}
div.jira-dvcs-connector-plugin.forceSyncDialog li {
	list-style: none;
	text-align: justify;
	margin-bottom: 2.5ex;
}
div.jira-dvcs-connector-plugin.forceSyncDialog .buttons {
	margin: 1ex 2.5ex;
}

.dvcs-organization-controls {
	min-width: 320px;
}

.repository-error-icon {
	display: inline-block;
}

.field-group .static-text {
	padding-top: 5px;
}

.aui-icon {
	vertical-align: text-bottom;
}

.dvcs-org-container .aui-button.aui-dropdown2-trigger {
	padding-right: 23px!important;
	position: relative;
}

.dvcs-org-container .aui-button.aui-dropdown2-trigger:after {
	border: 4px solid transparent;
	border-top-color: #333;
	content: "";
	height: 0;
	left: 100%;
	margin-left: -18px;
	margin-top: 0px;
	opacity: .8;
	position: absolute;
	top: 12px;
	width: 0;
}

.dialog-help {
	float: left;
	margin: 7px;
}

.aui-dialog .dialog-button-panel a.button-panel-link.dvcs-link-disabled,
.dvcs-link-disabled {
	color: gray;
	pointer-events: none;
	cursor: default;
}

.dialog-button-panel span.button-panel-link {
	margin: 0 10px 0 0;
}

.dvcs-empty-icon:before {
    content: "";
}

.aui-iconfont-warning.dvcs-color-yellow {
    color: #f6c342;
}

.aui-iconfont-error.dvcs-color-red {
    color: #d04437;
}

.dvcs-sync-disabled {
    filter: alpha(opacity=50);
    opacity: 0.50;
}

.dvcs-header-container .aui-lozenge {
    vertical-align: bottom;
    margin-left: 5px;
}

.dvcs-account-image {
    vertical-align: text-bottom;
    padding-right: 2px;
}

