<html>
  <head>
    <title>GitHub:enterprise  OAuth Settings</title>
    
    $webResourceManager.requireResourcesForContext("com.atlassian.jira.plugins.jira-bitbucket-connector-plugin")

    <meta name="admin.active.section" content="admin_plugins_menu/source_control"/>
    <meta name="admin.active.tab" content="github_oauth"/>
  </head>

  <body>

       #set($baseurl = $action.getBaseUrl())

        
        <h3>GitHub:enterprise OAuth Settings</h3>

              <h4 class="gh_config_h4">Setting up a GitHub OAuth Application</h4>

                <form class="aui" method="post" action="${baseurl}/secure/admin/ConfigureGithubEnterpriseOAuth.jspa">

                  <input type="hidden" name="atl_token" value="$atl_token">

                  <ol class="gh_steps">
                    <li>Copy the following Callback URL:
                       <div id="repoEntry">
                         <input type="text" class="text long-field" value="${baseurl}">
                       </div>
                   </li>

                   <li>
                      Browse to <a href="https://github.com/settings/applications" target="_blank">https://github.com/settings/applications</a> to create a new GitHub OAuth Application.

                       <div id="gh_oauth_app_screenshot">
                           <img alt='GitHub Configuration Screenshot' src="${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/github_oauth.png">
                       </div>
                   </li>

                   <li>
                       Paste the Callback URL into the Callback URL field of the New OAuth Application form.
                   </li>

                   <li>
                      After you create the application, GitHub will provide you with a <strong>Client ID</strong> and a <strong>Client Secret</strong> which you will need to enter below.
						
						 <div>&nbsp;</div>
						 
                         #if ($action.getMessages() != "")
                             <div id="gh_messages" class="aui-message success shadowed" >
                                    <p class="title">$action.getMessages()</p>
                             </div>
                         #end
						 
                         #foreach ($errorMessage in $action.getErrorMessages())
                             <div class="aui-message error shadowed">
                                    <p class="title">$errorMessage</p>
                             </div>
                         #end
                         

                      <table width="500px">

                               <tr>
                                 <td>Client ID</td>
                               </tr>
                               <tr>
                                 <td>
                                    <input type="text"
                                    class="text"
                                    id="clientID"
                                    name="clientID"
                                    value="$textutils.htmlEncode($action.getSavedClientID())"
                                    size="60"
                                    />

                                 </td>

                               </tr>

                                 <tr>
                                   <td><label for='clientSecret'>Client Secret</label></td>
                                 </tr>
                                 <tr>
                                   <td>
                                      <input type="text"
                                      class="text"
                                      id="clientSecret"
                                      name="clientSecret"
                                      value="$textutils.htmlEncode($action.getSavedClientSecret())"
                                      size="60"
                                      />

                                   </td>

                                 </tr>

                               <tr>
                                   <td >
                                       <input type="submit" name="Submit" id="Submit" value="Add/Update Keys"
                                       class="spaced"
                                       />
                                   </td>
                               </tr>

                      </table>
                   </li>

                   <li>
                       Once you have completed the OAuth Application setup, you can begin <a href="${baseurl}/secure/admin/ConfigureDvcsOrganizations!default.jspa#expand">configuring your accounts</a>.
                   </li>

                  </ol>

              </form>

  </body>
</html>