<html>
  <head>
    <title>Add new Bitbucket repository</title>
	
	$webResourceManager.requireResourcesForContext("com.atlassian.jira.plugins.jira-bitbucket-connector-plugin")
	
    <meta name="admin.active.section" content="admin_plugins_menu/source_control"/>
    <meta name="admin.active.tab" content="bitbucket_bulk_repo"/>
  </head>

  <body>
    <form id="repoEntry" method="post" action="${baseurl}/secure/admin/AddBitbucketOrganization.jspa" class="aui">
      <h2>New Bitbucket repository</h2>
      <input type="hidden" name="atl_token" value="$atl_token">

      <fieldset>
         <div class="field-group">
              <label for="url">Url:</label>
              <span class="field-value">$textutils.htmlEncode($action.getUrl())</span>
              <input type="hidden" id="url" name="url" value="$textutils.htmlEncode($action.getUrl())"/>
          </div>
          
          <div class="field-group" >
          	<label for="organization">Organization:</label>
            <span class="field-value">$action.getOrganization()</span>
            <input type="hidden" id="organization" name="organization" value="$textutils.htmlEncode($action.getOrganization())"/>
		  </div>
      </fieldset>

      <h3>Access credentials</h3>
      <div class="field-group">
        <label for="adminUsername">Username:</label>
        <input type="text" name="adminUsername" id="adminUsername" value="$textutils.htmlEncode($action.getAdminUsername())">
      </div>  
      <div class="field-group">
        <label for="adminPassword">Password:</label>
        <input type="password" name="adminPassword" id="adminPassword" value="">
      </div>  

      <div id="aui-message-bar">
        #foreach ($errorMessage in $action.getErrorMessages())
        <div class="aui-message error">
            <p class="title">
                <span class="aui-icon icon-error"></span>
                <strong>Error!</strong>
            </p>
            <p>$errorMessage</p>
        </div>                       
        #end
      </div>
      <div class="buttons-container">
        <div class="buttons">
          <div>&nbsp;</div>
            <input class="button submit" type="submit" name="Submit" id="Submit" value="Try Again"/>
            <a class="cancel" href="${baseurl}/secure/admin/ConfigureDvcsOrganizations.jspa?atl_token=${atl_token}">Cancel</a>
        </div>
      </div>
    
  </form>      
  </body>
</html>