<html>
<head>
    <title>Bitbucket OAuth Settings</title>
    
    $webResourceManager.requireResourcesForContext("com.atlassian.jira.plugins.jira-bitbucket-connector-plugin")

    <meta name="admin.active.section" content="admin_plugins_menu/source_control"/>
    <meta name="admin.active.tab" content="bitbucket_oauth"/>
</head>

<body>

    #set($baseurl = $action.getBaseUrl())


	<h3>Bitbucket OAuth Settings</h3>

	<div class="dvcs-bb-oauth-info">
		<div>
			The
			#if($action.isOnDemandLicense())
				<a href= "http://confluence.atlassian.com/display/AOD/Linking+a+bitbucket+or+GitHub+repository+with+JIRA+OnDemand" target="_blank"/>
			#else 
				<a href="http://confluence.atlassian.com/display/BITBUCKET/Using+the+JIRA+DVCS+Connector+Plugin" target="_blank" />
			#end 
			DVCS Connector uses OAuth to securely connect your commit messages</a>
	
			 that reference a specific JIRA issue key.
		</div> 
		<div> 
			To setup the connector, a team administrator will need to generate a custom OAuth key and secret on <a href="http://bitbucket.org" target="_blank">Bitbucket.org</a> 
			specific to your JIRA instance.
		
		</div>
	</div>
	
	<form class="aui" method="post" action="${baseurl}/secure/admin/ConfigureBitbucketOAuth.jspa">
	  
	   <input type="hidden" name="atl_token" value="$atl_token">
	  
	   You will need to complete the following steps:
	
	    <ol class="gh_steps">

			<li>
                
                Browse to <b>Integrated applications</b> menu item in your Bitbucket Team or personal account settings.
				
				<div id="gh_oauth_app_screenshot">
                	<img alt='Bitbucket Configuration Screenshot' src="${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/bb_oauth.png">
            	</div>
            	
			</li>
	
	        <li>
	           
	           Create a new OAuth consumer for your Bitbucket team specifying the name of your JIRA server. <br />
	           Bitbucket will provide you with a Key and a Secret which you will need to enter below:
            	
				<div>&nbsp;</div>
	
	            #if ($action.getMessages() != "")
	                <div id="gh_messages" class="aui-message success">
	                    <p class="title">$action.getMessages()</p>
	                </div>
	            #end
	
	            #foreach ($errorMessage in $action.getErrorMessages())
	                <div class="aui-message error shadowed">
	                    <p class="title">$errorMessage</p>
	                </div>
	            #end

	            <table width="500px">
	
	                <tr>
	                    <td>Key</td>
	                </tr>
	                <tr>
	                    <td>
	                        <input type="text"
	                               class="text"
	                               id="clientID"
	                               name="clientID"
	                               value="$textutils.htmlEncode($action.getSavedClientID())"
	                               size="60"
	                                />
	
	                    </td>
	
	                </tr>
	
	                <tr>
	                    <td><label for='clientSecret'>Secret</label></td>
	                </tr>
	                <tr>
	                    <td>
	                        <input type="text"
	                               class="text"
	                               id="clientSecret"
	                               name="clientSecret"
	                               value="$textutils.htmlEncode($action.getSavedClientSecret())"
	                               size="60"
	                                />
	
	                    </td>
	
	                </tr>
	
	                <tr>
	                    <td>
	                        <input type="submit" name="Submit" id="Submit" value="Add/Update Keys"
	                               class="spaced"
	                                />
	                    </td>
	                </tr>
	
	            </table>
	            
	        </li>
	
	
	        <li>
	        	 Once you have completed the OAuth consumer setup, you can <a href="${baseurl}/secure/admin/ConfigureDvcsOrganizations!default.jspa#expand">configuring you Bitbucket account integration with JIRA</a>.
	        </li>
	
	    </ol>
	
	</form>

</body>
</html>