<html>
  <head>
    <title>Update Bitbucket Password</title>
	
	$webResourceManager.requireResourcesForContext("com.atlassian.jira.plugins.jira-bitbucket-connector-plugin")
	
    <meta name="admin.active.section" content="admin_plugins_menu/source_control"/>
    <meta name="admin.active.tab" content="bitbucket_bulk_repo"/>
  </head>

  <body>

    <form id="repoEntry" class="aui update-credentials" method="post" action="${baseurl}/secure/admin/UpdateBitbucketCredentials.jspa" class="aui">
     
      <h2>Update Bitbucket Password</h2>
  
       <input type="hidden" name="atl_token" value="$atl_token">
       <input type="hidden" id="organizationId" name="organizationId" value="$action.getOrganizationId()" />

		<fieldset>
		
			 <div class="field-group">
		           <label for="usernameUp">Username:</label>
		           <input type="text" id="usernameUp" name="usernameUp" value="$textutils.htmlEncode($action.getUsernameUp())" />
		     </div>
		                
		     <div class="field-group">
		          <label for="adminPasswordUp">Password:</label>
		          <input type="password" id="adminPasswordUp" name="adminPasswordUp" value=""/>
		     </div>
		
		</fieldset>

      <div id="aui-message-bar">
        #foreach ($errorMessage in $action.getErrorMessages())
        <div class="aui-message error">
            <p class="title">
                <span class="aui-icon icon-error"></span>
                <strong>Error!</strong>
            </p>
            <p>$errorMessage</p>
        </div>                       
        #end
      </div>
      <div class="buttons-container">
        <div class="buttons">
          <div>&nbsp;</div>
            <input class="button submit" type="submit" name="Submit" id="Submit" value="Update"/>
            <a class="cancel" href="${baseurl}/secure/admin/ConfigureDvcsOrganizations.jspa?atl_token=${atl_token}">Cancel</a>
        </div>
      </div>
    
  </form>      
  </body>
</html>