<div class="CommitContainer issue-data-block">
    <!-- Gravatar -->
    <div class="CommitContainerMargin">
        <a href="$user_url" target="_blank">
            <div class="ComiterImage">
                <img src="$gravatar_url" alt="" title="" width="32" height="32"/>
            </div>
        </a>
        <!-- Body -->
        <div class="CommiterBody">
            <!-- name and date -->
            <div class="CommiterInfoPanel">
                <a href="$user_url" target="_blank">
                    <span class="CommitUser">$user_name</span>
                </a>
				committed
				<a href="$commit_url" target="_blank">
					<span>$commit_hash</span>
				</a>
				<span>&#39;$issue_linker.createLinks($commit_message)&#39;</span>
                <span>$velocity_utils.getRelativePastDate($changeset.getDate())</span>
				#if ($changeset.getBranch()!="null")
                    <span>$changeset.getBranch()</span>
                #end
            </div>
        </div>
    </div>
</div>