<div class="dvcs activity-item">
  <article>
    <header>
      <div class="summary">
        <a href="$user_url"><img class="avatar avatar32" src="$gravatar_url"></a>
        <a href="$user_url" class="author">Dusan Hornik</a>
        <span class="aui-lozenge pull-request-state aui-lozenge-moved">commited</span> 
        changeset <a class="hash" href="$commit_url">$commit_hash</a>
      </div>
    </header>
  </article>
  <div class="content">
    <table class="aui commit-list">
    <thead>
      <tr>
        <th class="text">Message</th>
        <th class="labels">Labels</th>
        <th class="comments">Comments</th>
        <th class="likes">Approvals</th>
        <th class="date">Date</th>
      </tr>
      </thead>      
      <tbody>
        <tr>
          <td class="text">
              <div title="$commitMessage">$commitMessageHtml</div>
          </td>
          <td class="labels fade-left">
<dl class="commit-labels clearfix">
</dl>
          </td>
          <td class="comments count-badge">
          </td>
          <td class="likes count-badge">
          </td>
          <td class="date">
            <div>
              <time datetime="2013-01-03T03:08:40+01:00" data-title="true" title="3 January 2013 03:08">29 days ago</time>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>