<div class="dvcs comment"  style="background-color:#ffb">
    <article data-comment-id="16415">
        <header>
            <a href="/$pullRequestComment"><img class="avatar avatar32" src="$user.avatar"></a>
            <a href="/$pullRequestComment" class="author">$user.fullName</a> 
            <span class="aui-lozenge pull-request-state aui-lozenge-success" title="">commented</span>
            on a pull request <a href="$pullRequestUrl">$pullRequest.name</a> on a file
            <a href="hash">apps/api/v10/handlers.py</a>
        </header>
            <div class="comment-content">$pullRequestComment.message</div>
            <ul class="comment-actions">
                <li>
                    <a href="#reply" class="reply-link click" data-add-to-stack="true">Reply</a>
                </li>
                <li>
                    <a class="permalink" href="#comment-16500" title="Link directly to this comment">
                        <time title="$pullRequestComment.lastUpdatedOn">$velocityUtils.getRelativePastDate($pullRequestComment.lastUpdatedOn)</time></a>
                </li>
            </ul>
        </article>
        <ol class="child-comments iterable">
        </ol>

</div>