<div class="dvcs activity-item">
  <article>
    <header>
      <div class="summary">
        <a href="$user.url"><img class="avatar avatar32" src="$user.avatar"></a>
        <a href="$user.url" class="author">$user.fullName</a>
        <span class="aui-lozenge pull-request-state $lozengeStyle" title="">$pullRequestUpdate.status</span> a pull request
        <a href="$repository.orgHostUrl$pullRequest.url">$pullRequest.name</a>
        on <time>$velocityUtils.getRelativePastDate($pullRequestUpdate.lastUpdatedOn)</time>
      </div>
    </header>
    
    
    
    <div class="content">
    <table class="aui commit-list">
      <thead>
      <tr id="chg_0">
        <th class="author">Author</th>
        <th class="hash">Commit</th>
        <th class="text">Message</th>
        <th class="labels">Labels</th>
        <th class="date">Date</th>
      </tr>
      </thead>
      <tbody>
        #set( $commits = $pullRequestUpdate.commits)
        #foreach( $commit in $commits )
        <tr class="" id="chg_1">
          <td class="author">
            <div>
                <span><a href="/$commit.author" title="$commit.author"><img class="avatar avatar16" src="$user.avatar" alt="$commit.author"></a><span>$commit.rawAuthor</span></span>
            </div>
          </td>
          <td class="hash">
            <div><a class="hash" href="$commit.commitUrl">$commit.node.substring(0,7)</a></div>
          </td>
          <td class="text">
            <div title="$commit.message">$commit.message</div>
          </td>
          <td class="labels fade-left">
            <dl class="commit-labels clearfix">
            </dl>
          </td>
          <td class="date">
            <div>
              <time datetime="" title="$commit.date">$velocityUtils.getRelativePastDate($commit.date)</time>
            </div>
          </td>
        </tr>
        #end

        
        
      </tbody>
    </table>
  </div>
    
    
    
  </article>
  
</div>
    

