<div class="dvcs activity-item">
  <article>
    <header>
      <div class="summary">
        <a href="/$pullRequestUpdate.author"><img class="avatar avatar32" src="$user.avatar"></a>
        <a href="/$pullRequestUpdate.author" class="author">$user.fullName</a>
        <span class="aui-lozenge pull-request-state aui-lozenge-success aui-lozenge-subtle" title="">$pullRequestUpdate.status</span> a pull request
        <a href="$pullRequestUrl">$pullRequestName</a>
        on <time datetime="2013-01-03T20:07:06.550576">$pullRequestUpdate.lastUpdatedOn</time>
      </div>
    </header>
  </article>
</div>