$issue_linker.createLinks($changeset.getMessage())
<br>
<br>
Changes:<br>
<ul>
    #foreach ( $file in $changeset.getFiles() )
        #set ( $file_name = $file.getFile() )
        #set ( $color = $file.getFileAction().getColor() )
        #set ( $file_action_name = $file.getFileAction().toString() )
        #set ( $file_commit_url = $file_commit_urls.get($file))

        <li><span style='color:$color; font-size: 8pt;'>$file_action_name</span>
            <a href='$file_commit_url' target='_blank'>$file_name</a>
        </li>
    #end
</ul>

 #if ( $changeset.getAllFileCount() gt $max_visible_files )
	<a href="$commit_url" target="_blank" class="CommitRowsMore">
		<div class="CommitRows">... see more changes</div>
	</a>
 #end