$webResourceManager.requireResourcesForContext("com.atlassian.jira.plugins.jira-bitbucket-connector-plugin")

<div class="CommitContainer issue-data-block">
    <!-- Gravatar -->
    <div class="CommitContainerMargin">
        <a href="$user_url" target="_blank">
            <div class="ComiterImage">
                <img src="$gravatar_url" alt="" title="" width="32" height="32"/>
            </div>
        </a>
        <!-- Body -->
        <div class="CommiterBody">
            <!-- name and date -->
            <div class="CommiterInfoPanel">
                <a href="$user_url" target="_blank">
                    <div class="CommitUser">$user_name</div>
                </a>

                <div class="CommitingDate">$velocity_utils.getRelativePastDate($changeset.getDate())</div>
            </div>
            <div class="CommiterInfoRow"></div>
            <!--  -->
            <div class="CommitPanel">
                <div class="CommitHeader">
                    <a href='$commit_url' target='_blank'>
                        <div class="CommitButton">View full commit</div>
                    </a>

                    <div class="Text">$issue_linker.createLinks($commit_message)</div>
                </div>

                <div class="CommitBody">
                    <div class="CommitBodyPadding">
                        <!-- body head -->
                        <div class="CommitBodyUp">
                            #if ($changeset.getBranch()!="null")
                                <div class="CommitBodyUpTitle">$changeset.getBranch()</div>
                            #end
                        </div>
                        <!-- data for while -->
                        #set ( $file_counter = 0 ) <!-- used to create link to the diff on github-->
                        #foreach ( $file in $changeset.getFiles() )
                            #set ( $file_name = $file.getFile() )
                            #set ( $color = $file.getFileAction().getColor() )
                            #set ( $file_action_name = $file.getFileAction().toString() )
                            #set ( $file_commit_url = $file_commit_urls.get($file))
                            #set ( $action = $file.getFileAction().getAction() )
                            #if ( $action == 'modified' )
                                <div class="CommitRows">
                                    <div class="CommitCount">
                                        <div class="CommitCountPlus">
                                            #set ( $additions = $file.getAdditions() )
                                            #if ( $additions == 0 )-#else +$additions #end
                                        </div>
                                        <div class="CommitCountMinus">
                                            #set ( $deletions = $file.getDeletions() )
                                            #if ( $deletions == 0 )-#else -$deletions #end
                                        </div>
                                    </div>
                                    <a href="${file_commit_url}" target="_blank">
                                        <div class="CommitHrefDATA">${file_name}</div>
                                    </a>
                                </div>
                            #elseif ( $action == 'added' )
                                <div class="CommitRows">
                                    <div class="CommitCount">
                                        <div class="CommitCountAdded">Added</div>
                                    </div>
                                    <a href="${file_commit_url}" target="_blank">
                                        <div class="CommitHrefDATA">${file_name}</div>
                                    </a>
                                </div>
                            #elseif ( $action == 'removed' )
                                <div class="CommitRows">
                                    <div class="CommitCount">
                                        <div class="CommitCountRemoved">Deleted</div>
                                    </div>
                                    <a href="${file_commit_url}" target="_blank">
                                        <div class="CommitHrefDATA">${file_name}</div>
                                    </a>
                                </div>
                            #end
                            #set ( $file_counter = $file_counter+1 )
                            <!--  -->
                        #end
                        #if ( $changeset.getAllFileCount() gt $max_visible_files )
                            #set ( $rest = $changeset.getAllFileCount() - $max_visible_files )
                            <a href="$commit_url" target="_blank">
                                <div class="CommitRows">... $rest more files not shown</div>
                            </a>
                        #end
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>