<html>
<head>
<style type="text/css">
td,th {
  vertical-align: top;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: verdana;
  font-size: 12px;
}

table,td,th {
  border: 1px solid black;
}

.trace-pane {
  max-height: 400px;
  max-width: 900px;
  overflow: auto;
}

pre {
  margin: 0px;
}

.ok {
  background-color: #F1FAED ;
}
.alert {
  background-color: #FFF2F3;
}
</style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID: Repo (Sync)</th>
        <th>Start Date</th>
        <th>First Message Date</th>
        <th>Number of Requests Sent</th>
        <th>End Date</th>
        <th>Sync Type</th>
        <th>Sync Status</th>
        <th>Error ?</th>
      </tr>
    </thead>
    <tbody>
      #foreach($log in $logs)
      <tr class="ok #if($log.excTrace) alert #end">
        <td><b>$log.repoId</b> ($log.ID)</td>
        <td>$log.startDate</td>
        <td>#if($log.firstRequestDate) $log.firstRequestDate #end</td>
        <td>#if($log.endDate) $log.numRequests #set($flightTime = ($log.flightTimeMs) / 1000.0) (<b>~ $flightTime</b> secs in flight.) #end</td>
        <td>$!log.endDate #if($log.endDate) #set($took = ($log.endDate.time - $log.startDate.time) / 1000) (<b>~ $took</b> secs.)  #end </td>
        <td>$log.syncType</td>
        <td>$log.syncStatus</td>
        <td>
            <div class="trace-pane">
                Total errors: <b>($log.totalErrors)</b>
                <pre>$!log.excTrace</pre>
          </div>
        </td>
      </tr>
      #end
    </tbody>
  </table>
</body>
</html>