## todo check wheter is there at least one org to render this

<fieldset class="field-group" style="max-height: 300px; overflow: scroll">
  
  <label>Bitbucket accounts</label>
  
  <div class="" style="font-size: 0.9em; top: 3px; position: relative; padding-bottom: 3px;">
  	(Invite users to develop on Bitbucket ?)
  </div>
  
  #foreach ($bbOrg in $bbOrgaizations)
  	<div class="checkbox" style="padding-left: 0px">
    	<input class="checkbox" type="checkbox" id="dvcs_org_selector_$bbOrg.id" value="$bbOrg.id" name="dvcs_org_selector" />
    	<label for="org_selector"><strong>$bbOrg.name</strong></label>
  	</div>
  #end

</fieldset>