<html>
  <head>
    <title>
           Manage DVCS Repositories
    </title>

	$webResourceManager.requireResourcesForContext("com.atlassian.jira.plugins.jira-bitbucket-connector-plugin")

    <script type="text/javascript">
        
        var BASE_URL = "${baseurl}";

        function init_repositories()
        {
            #if ($action.nextAction == 'ForceSync')
                forceSync($action.getRepositoryId());
            #end
            
           	retrieveSyncStatus();
            
            AJS.$("#repoEntry").submit(submitFormHandler);
        }
     </script>

    <meta name="admin.active.section" content="admin_plugins_menu/source_control"/>
    <meta name="admin.active.tab" content="bitbucket_bulk_repo"/>
  </head>

  <body>
        <input type="hidden" id="addedRepositoryId" value="$action.getAddedRepositoryId()">

 		<h3>Manage DVCS Repositories</h3>

        #if ($action.isOnDemandLicense())
            <p>Connect your <a href="http://confluence.atlassian.com/display/AOD/Linking+a+bitbucket+or+GitHub+repository+with+JIRA+OnDemand" target="_blank">Bitbucket and GitHub repo to JIRA OnDemand</a> and link every commit with a bug or development task. Once configured, JIRA will query the repository searching commits for issue keys.</p>
        #else
            <p>Connect your <a href="http://confluence.atlassian.com/display/BITBUCKET/Using+the+JIRA+DVCS+Connector+Plugin" target="_blank">Bitbucket and GitHub repo to JIRA</a> and link every commit with a bug or development task. Once configured, JIRA will query the repository searching commits for issue keys.</p>
        #end
        <br/>

        <input class="aui-button submit" id="linkRepositoryButton" type="button" title="Link a Bitbucket or GitHub organization &gt;&gt;" onclick="showAddRepoDetails(true)" value="Link a Bitbucket or GitHub organization &gt;&gt;" />

        <div id="addRepositoryContent">
        <div id="addRepositoryDetails" class="aui-message">
            <span class="svg-icon close size-16 customClose" onclick="showAddRepoDetails(false);"></span>

            <h4 style="margin: 0px;">Add new Organization</h4>

            #foreach ($errorMessage in $action.getErrorMessages())
                <div class="aui-message error shadowed">
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>Error!</strong>
                    </p>
                    <p>$errorMessage</p>
                </div>
            #end

            <form class="aui top-label" id="repoEntry" method="post"  >

                <input type="hidden" name="atl_token" id="atl_token" value="$atl_token">
                <input type="hidden" name="isPrivate" id="isPrivate">
              
	            
	            <div class="aui-item-column1">
                    <div class="field-group" >
                      <label for="url">Url:</label>
                      <input type="text" id="url" name="url" value="$textutils.htmlEncode($action.getRepositoryUrl())"/>
                      <div class="fieldValue" id="urlReadOnly"></div>
                      <div id="url-error" class="dvcs-error">Please enter valid url.</div>
                    </div>
                </div>
                <div class="aui-item-column2" id="examples">
                    <label>Examples:</label>
                    <div style="padding-top: 3px;"><i>https://bitbucket.org</i></div>
                    <div><i>https://github.com</i></div>
                </div>
                 <div>
                    <div class="field-group" >
                      <label for="organization">Organization:</label>
                      <input type="text" id="organization" name="organization" value=""/>
                      <div class="fieldValue" id="organizationReadOnly"></div>
                    </div>
                 </div>
				
				## BB form section
				<div id="bitbucket-form-section" style="display:none">
	                <div class="field-group">
	                   <label for="adminUsername">Username:</label>
	                   <input type="text" id="adminUsername" name="adminUsername" value=""/>
	                </div>
	                <div class="field-group">
	                   <label for="adminPassword">Password:</label>
	                   <input type="password" id="adminPassword" name="adminPassword" value=""/>
	                </div>
	            </div>
				
				## GH form section
				<div id="github-form-section" style="display:none">
					<input type="hidden" id="oauthRequired" name="oauthRequired" value="true" />
                    <div class="field-group">
	                   <label for="oauthClientId">Key:</label>
	                   <input type="text" id="oauthClientId" name="oauthClientId" value=""/>
	                </div>
	                <div class="field-group">
	                   <label for="oauthSecret">Secret:</label>
	                   <input type="text" id="oauthSecret" name="oauthSecret" value=""/>
	                </div>
	            </div>
	            
	            <div style="margin-top: 10px; clear: both" >
	                <input type="checkbox" id="autoLinking" name="autoLinking" class="checkbox" value="true"/>
	                <label for="autoLinking">Auto link new repositories</label>
	                <div>
	                	Configure new repos to automatically link issue keys and commit messages on Bitbucket.
	            	</div>
	            </div>
     
                <div id="bbCredentials"></div>


                <div id="aui-message-bar"></div>

                <div class="buttons-container">
                    <div class="buttons">
                        <input class="button submit" type="submit" name="Submit" id="Submit" value="Add Organization" />
                        <a class="cancel" href="#" onclick="showAddRepoDetails(false)">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        </div>
   		
   		#printOrganizations
   		
		#*

        <table class="gh_table" cellspacing="0" cellpadding="0">
            #if ($action.getMode() == 'single')
                #repositoryLineItem($action.getProjectName() $action.getProjectKey())
            #else
                #foreach ($project in $action.getProjects())
                    #repositoryLineItem($project.name $project.key)
                #end
            #end

        </table>
        
        *#
	
	#printUpdateCredentialsFormHidden
	
  </body>
</html>

############################################################################
## macros needs to be here as : 
## velocimacro.permissions.allow.inline.local.scope = true
## and we cannot affect velocimacro.library
############################################################################
#macro (printOrganizations)

<div class="vert-space">&nbsp;</div>

			#foreach( $org in $action.loadOrganizations() )
			
			#if($org.isAutolinkNewRepos())
				#set( $orgAutolink = "checked='checked'")
				#else
				#set( $orgAutolink = "")
			#end
		
			<h4 class="aui $org.getDvcsType()Logo">Organization: $org.name ($org.dvcsType)</h4>
				
				<div class="dvcs-organization-controls">

				 <input id="org_autolink_check$org.id" class="aui" $!orgAutolink type="checkbox" name="autolink-quick" onclick="javascript: autoLinkIssuesOrg($org.id, 'org_autolink_check$org.id');" /><label> Autolink new repositories</label>
				 <span style="display:none; width: 16px; height: 16px;" id="org_autolink_check${org.id}working" class="syncicon running">&nbsp;</span>
	
				 | <a href="$baseurl/secure/admin/SyncRepositoryListAction.jspa?organizationId=${org.id}&amp;atl_token=$atl_token">Sync Repository List</a>
				 #if($org.dvcsType == "bitbucket")
				 | <a href="javascript:changePassword('$textutils.htmlEncode($org.credential.adminUsername)', $org.id);">Change Password</a>
				 #else
   			 	 | <a href="$baseurl/secure/admin/RegenerateGithubOauthToken.jspa?organization=${org.id}&amp;atl_token=$atl_token">Re-generate OAuth Access Token</a>
				 #end
				 | <a href="$baseurl/secure/admin/DeleteOrganizationAction.jspa?organizationId=${org.id}&amp;atl_token=$atl_token" onclick="javascript: return confirmDeleteOrganization('$org.name');">Delete organization</a>
				</div>

				<div class="vert-space">&nbsp;</div>
			   <div>
			     
			   <table class="aui">
			    <thead>
			        <tr>
			            <th>Repository</th>
			            <th>Enable Linking</th>
			            <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>

			    #foreach( $repo in $org.getRepositories() )
			        
			        #if($repo.isLinked())
						#set( $repoAutolink = "checked='checked'")
						#else
						#set( $repoAutolink = "")
					#end
					
					#if($velocityCount % 2 == 0)
						#set( $dvcsEvenClass = "dvcs-even-row")
						#else
						#set( $dvcsEvenClass = "")
					#end
			        <tr class="$dvcsEvenClass">
			            <td class="dvcs-org-reponame">$repo.name</td>

			            <td style="text-align: center" class="dvcs-autolink-repo">
			            	<input id="repo_autolink_check$repo.id" type="checkbox" $!repoAutolink
			            	 onclick="javascript: autoLinkIssuesRepo($repo.id, 'repo_autolink_check$repo.id');" />

			            	<span style="display:none; width: 16px; height: 16px;" id="repo_autolink_check${repo.id}working" class="syncicon running">&nbsp;</span> 
			            </td>
			            <td class="action" headers="action" style="text-align: right;">
			                <ul class="menu">
			                    <li>
			                        <a href="#" onclick="forceSync($repo.id); AJS.$('.gh_messages.repository$repo.id').slideDown(); return false;">Sync Repo</a>
			                    </li>
			                </ul>
			                <span id="syncicon_$repo.id" class="syncicon" >&nbsp;</span>
                            <span id="sync_status_message_$repo.id" class="gh_messages">
                                <span class="content"></span>
                            </span>
			            </td>
			            
			        </tr>
			       
			    #end
			       
			    </tbody>
			</table>
			
			<div class="vert-space">&nbsp;</div>
			<div class="vert-space">&nbsp;</div>
			
			#end

#end

#macro (printUpdateCredentialsFormHidden)
	
	<div class="update-credentials" style="display:none">
	
		<form id="updatePasswordForm" class="aui" method="post" action="$baseurl/secure/admin/UpdateBitbucketCredentials.jspa" >
		
			 <input type="hidden" name="atl_token" value="$atl_token">
			 <input type="hidden" id="organizationId" name="organizationId" value="" />

			 <div class="field-group">
		           <label for="usernameUp">Username:</label>
		           <div class="fieldValue" id="usernameUpReadOnly"></div>
		           <input type="hidden" id="usernameUp" name="usernameUp" value="" />
		     </div>
		                
		     <div class="field-group">
		          <label for="adminPasswordUp">Password:</label>
		          <input type="password" id="adminPasswordUp" name="adminPasswordUp" value=""/>
		     </div>
		     
		</form>
	</div>

#end

