<script type="text/javascript">

    // load web fragment
    ## AJS.$ doesn't play nice with Velocity, using jQuery instead
    jQuery.get("${baseurl}/rest/bitbucket/1.0/fragment/groups")
               .success(function (data) {
                    jQuery("#configureGroupsContent").html(data);
                })
               .error(function (err) { 
                    jQuery("#configureGroupsContent").empty();
                    AJS.messages.warning("#configureGroupsContent", {title:"Unexpected error occurred when retrieving list of groups from Bitbucket.", closeable: false});
               });
    
</script>

<div id="configureGroupsContent">
    <div class="aui-message info">
        <span class="aui-icon icon-info"></span>
        Loading list of groups from Bitbucket...
        <span style="background:url('../../../images/icons/wait.gif') 0 center no-repeat;padding-left:18px">&nbsp;</span>
    </div>
</div>

