<html>
  <head>
    <title>Add new Bitbucket repository</title>

    <meta name="admin.active.section" content="admin_plugins_menu/source_control"/>
    <meta name="admin.active.tab" content="bitbucket_bulk_repo"/>
  </head>

  <body>
    <form id="repoEntry" method="post" action="${baseurl}/secure/admin/AddBitbucketRepository.jspa" class="aui">
      <h2>New Bitbucket repository</h2>
      <input type="hidden" name="atl_token" value="$atl_token">
      <input type="hidden" name="isPrivate" value="$action.isPrivate()">

      <fieldset>
        <div class="field-group">
            <label for="repositoryUrl">Repository Url</label>
            <span class="field-value">$textutils.htmlEncode($action.getRepositoryUrl())</span>
            <input type="hidden" id="repositoryUrl" name="repositoryUrl" value="$textutils.htmlEncode($action.getRepositoryUrl())"/>
        </div>
        <div class="field-group">
            <label for="projectKey">Project Key</label>
            <input type="hidden" id="projectKey" name="projectKey" value="$textutils.htmlEncode($action.getProjectKey())"/>
            <span class="field-value">$textutils.htmlEncode($action.getProjectKey())</span>
        </div>
      </fieldset>

      #if ($action.isPrivate())
      <h3>Access credentials</h3>
      <div class="field-group">
        <label for="bbUsername">Username</label>
        <input type="text" name="bbUsername" id="bbUsername" value="$textutils.htmlEncode($action.getBbUsername())">
      </div>  
      <div class="field-group">
        <label for="bbPassword">Password</label>
        <input type="password" name="bbPassword" id="bbPassword" value="">
      </div>  
      #end

      <div id="aui-message-bar">
        #foreach ($errorMessage in $action.getErrorMessages())
        <div class="aui-message error">
            <p class="title">
                <span class="aui-icon icon-error"></span>
                <strong>Error!</strong>
            </p>
            <p>$errorMessage</p>
        </div>                       
        #end
      </div>
      <div class="buttons-container">
        <div class="buttons">
          <div>&nbsp;</div>
            <input type="submit" name="Submit" id="Submit" value="Try Again"/>
            <a class="cancel" href="${baseurl}/secure/admin/ConfigureBitbucketRepositories.jspa?atl_token=${atl_token}">Cancel</a>
        </div>
      </div>
    
  </form>      
  </body>
</html>