<html>
  <head>
    <title>Add new Github repository</title>

    <script type="text/javascript">
        var BASE_URL = "${baseurl}"
        function init_repositories()
        {
            AJS.$("#addPostCommitService").click(function(a){
                AJS.$("#postCommitServiceDetails").slideToggle()
                });
   
        }            
     </script>

  </head>

  <body>
    <form id="repoEntry" method="post" action="${baseurl}/secure/admin/AddGithubRepository.jspa" class="aui">
      <h2>New Github repository</h2>
      <input type="hidden" name="atl_token" value="$atl_token">
      
      <div class="field-group">
        <label for="repositoryUrl">Repository Url</label>
        <input type="text" id="repositoryUrl" name="repositoryUrl" value="$textutils.htmlEncode($action.getRepositoryUrl())" size="60" readonly="readonly"/>
      </div>  
      <div class="field-group">
        <label for="url">Project Key</label>
        <input type="text" id="projectKey" name="projectKey" value="$textutils.htmlEncode($action.getProjectKey())" size="60" readonly="readonly"/>
      </div>  
      #if ($action.isPrivate())
      <h3>Access credentials</h3>
      <div class="field-group">
        <label for="bbUsername">Username</label>
        <input type="text" name="bbUsername" id="bbUsername" value="$textutils.htmlEncode($action.getBbUsername())">
      </div>  
      <div class="field-group">
        <label for="bPassword">Password</label>
        <input type="password" name="bbPassword" id="bbPassword" value="">
      </div>  
      #end

      #if ($action.addPostCommitService()) 
        #set ($checked = "checked") 
        #set ($hidden = "") 
      #else 
        #set ($checked = "") 
        #set ($hidden = "style='display:none'") 
      #end
      <h3>Repository Services</h3>
      <div class="checkbox">
        <input class="checkbox" type="checkbox" name="addPostCommitService" id="addPostCommitService" $checked>
        <label for="addPostCommitService">Install postcomit service</label>
        <div class="description">Installing postcommit service requires admin access to the repository.</div>
      </div>
      <div id="postCommitServiceDetails" $hidden>
      <div class="field-group">
        <label for="adminUsername">Admin username</label>
        <input type="text" name="adminUsername" id="adminUsername" value="$textutils.htmlEncode($action.getAdminUsername())">
      </div>    
      <div class="field-group">
        <label for="adminPassword">Admin password</label>
        <input type="password" name="adminPassword" id="adminPassword" value="">
      </div>  
      </div>  
      
      <div class="buttons-container">
        <div class="buttons">
          <div>&nbsp;</div>
            <input type="submit" name="Submit" id="Submit" value="Add Repository"/>
            <a class="cancel" href="${baseurl}/secure/admin/ConfigureBitbucketRepositories.jspa?atl_token=${atl_token}">Cancel</a>
        </div>
      </div>
    
  </form>      
  </body>
</html>