<html>
  <head>
    <title>Add new Bitbucket repository</title>

  </head>

  <body>
    <form id="repoEntry" method="post" action="${baseurl}/secure/admin/AddGithubRepository.jspa" class="aui">
      <h2>New Github repository</h2>
      <input type="hidden" name="atl_token" value="$atl_token">

      <fieldset>
        <div class="field-group">
            <label for="repositoryUrl">Repository Url</label>
            <span class="field-value">$textutils.htmlEncode($action.getRepositoryUrl())</span>
            <input type="hidden" id="repositoryUrl" name="repositoryUrl" value="$textutils.htmlEncode($action.getRepositoryUrl())"/>
        </div>
        <div class="field-group">
            <label for="projectKey">Project Key</label>
            <input type="hidden" id="projectKey" name="projectKey" value="$textutils.htmlEncode($action.getProjectKey())"/>
            <span class="field-value">$textutils.htmlEncode($action.getProjectKey())</span>
        </div>
      </fieldset>
      
      <div id="aui-message-bar">
        <div class="aui-message success">
            <p class="title">
            <span class="aui-icon icon-success"></span>
            <strong>Repository added</strong>
            </p>
        </div>

        <div class="aui-message warning">
            <p class="title">
                <span class="aui-icon icon-warning"></span>
                <strong>Error adding postcommit service.</strong>
            </p>
            <p>This usually happens when you are not owner of the repository.</p>
            <p>Please install the postcommit service <a href="http://help.github.com/post-receive-hooks/">manually</a></p>
            <p>Postcommit url for this repository is: <b>$action.getPostCommitUrl()</b></p>
        </div>            

      </div>
      <div class="buttons-container">
        <div class="buttons">
          <div>&nbsp;</div>
          <a class="cancel" href="${baseurl}/secure/admin/ConfigureBitbucketRepositories.jspa?atl_token=${atl_token}">Continue</a>
        </div>
      </div>
    
  </form>      
  </body>
</html>