<html>
  <head>
    <title>
        #if ($action.getMode() == 'single')
            Bitbucket Repositories
        #else
            Bulk Configure Bitbucket Repositories
        #end
    </title>

    <script type="text/javascript">
        var BASE_URL = "${baseurl}"
        function init_repositories()
        {
            #if ($action.nextAction == 'ForceSync')
                forceSync($action.getRepositoryId());
                AJS.$('.gh_messages.repository$action.getRepositoryId()').slideDown()
            #end
            retrieveSyncStatus();
            
            AJS.$("#addPostCommitService").click(function(a){
                AJS.$("#postCommitServiceDetails").slideToggle()
                });
            
            AJS.$("#privateRepository").click(function(a){
                AJS.$("#repositoryCredentials").slideToggle()
                });
        }            
     </script>

        <style type="text/css">


        #gh_config_link{
            margin-top: 10px;
        }

        #gh_config_link a{
            background: url('${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/pencil_icon.jpg');
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 20px;
            font-size: 10pt;
        }

        .gh_config_h4{
            font-weight: normal;
            color: #3676B7;
            background: url('${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/down_gray_arrow.jpg');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 18px;
            margin-top: 18px;
        }

        #gh_post_receive_header{
            font-weight: normal;
            font-size: 10pt;
            color: #666;
            margin-top: 18px;
            margin-bottom: 10px;
        }

        #gh_post_receive_textbox{
            font-size: 10pt;
            padding: 4px;
        }

        #gh_post_receive{
            margin-bottom: 10px;
        }

        .gh_table{
            margin-left: 16px;
            width: 100%
        }

        .gh_table_project_name{
            font-size: 10pt;
            color: #5F6262;
            padding-top: 14px;
        }

        .gh_table th{
            font-weight: normal;
            color: #656565;
            border-bottom: 1px solid #cccccc;
            font-size: 10pt;
        }

        .gh_table td.status{
            border-bottom: 1px solid #cccccc;
            font-size: 10pt;
            padding:0 20px;
        }
        .gh_table td.status .error{
            color:#f66;
        }
        
        .gh_table td{
            font-size: 10pt;
        }

        .gh_table_td_pname{
            border-bottom: none !important;
        }

        #gh_example_link{
            font-size: 6pt;
        }

        #gh_submit{
            font-size: 8pt;
        }

        .gh_messages{
            font-size: 10pt;
            color: #666;
            font-style: italic;
        }

        .form {
            margin:20px;
            background-color: #B9E6F0;
            padding: 20px;
            
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -khtml-border-radius: 6px;
            border-radius: 6px;            
        }
        
        .syncicon {
            cursor: pointer;
            width:16px;
            display:inline-block;
            background-image: url(${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/info.gif)
        }

        .syncicon.error {
            background-image: url(${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/error.gif)
        }

        .syncicon.running {
            background-image: url(${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/working.gif)
        }

        .syncicon.finished {
            background-image: url(${baseurl}/download/resources/com.atlassian.jira.plugins.jira-bitbucket-connector-plugin/images/images/status-ok.png)
        }
        label {
            font-weight:bold;
        }
        .hiddendiv {
            display:none;
        }
        .innerform label{
            float:left
        }
        .innerform div{
            width: 260px;
            text-align: right;
        }
    </style>

  </head>

  <body>
            ## used in func tests
            #if ($action.nextAction == 'ForceSync')
                <input type="hidden" id="addedRepositoryId" value="$action.getRepositoryId()">
            #end

    
 		<h3>
            #if ($action.getMode() == 'single')
                Existing Repositories Linked to $textutils.htmlEncode($action.getProjectName())
            #else
                Bulk Configure Bitbucket Repositories
            #end
 		</h3>


            <h4 class="gh_config_h4">Existing Linked Repositories</h4>

            <table class="gh_table" cellspacing="0" cellpadding="4">

            #macro ( repositoryLineItem $projectName $projectKey )
                #set($encodedProjectName = $textutils.htmlEncode($projectName))
                <tr> <td colspan="3" class="gh_table_td_pname"><div class="gh_table_project_name">$encodedProjectName</div></td> </tr>
                <tr> <th>Repository URL</th> <th>Key</th> <th>Operations</th> </tr>
                #foreach ($repository in $action.getProjectRepositories($projectKey))
                    #set($repositoryId = $repository.getId())
                    #set($encodedProjectKey = $textutils.htmlEncode($action.getProjectKey()))
                    #set($encodedMode = $textutils.htmlEncode($action.getMode()))
                    <tr>
                        <td><a href="$textutils.htmlEncode($repository.repositoryUri.repositoryUrl)" target="_new">$textutils.htmlEncode($repository.repositoryUri.repositoryUrl)</a></td>
                        <td>$projectKey</td>
                        <td width="260px">
                            <span title="Show/Hide info about syncing" class="syncicon repository$repositoryId" onclick="AJS.$('.gh_messages.repository$repositoryId').slideToggle()">&nbsp;</span>
                            <a href="#" onclick="forceSync($repositoryId); AJS.$('.gh_messages.repository$repositoryId').slideDown(); return false;">Force Sync</a> |
                            <a href="${baseurl}/secure/admin/ConfigureBitbucketRepositories.jspa?repositoryId=$repositoryId&projectKey=$encodedProjectKey&nextAction=ShowPostCommitURL&mode=$encodedMode&atl_token=$atl_token">Post Commit</a> |
                            <a href="#" onclick="confirmation('${baseurl}/secure/admin/ConfigureBitbucketRepositories.jspa?nextAction=DeleteRepository&projectKey=$encodedProjectKey&repositoryId=$repositoryId&mode=$encodedMode&atl_token=$atl_token')">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="status" colspan="3">
                        <div name="sync_status_message" class="gh_messages repository$repositoryId" style="display:none">
                        </div>
                        </td>
                    </tr>
                #end
            #end

            #if ($action.getMode() == 'single')
                #repositoryLineItem($action.getProjectName() $action.getProjectKey())
            #else
                #foreach ($project in $action.getProjects())
                    #repositoryLineItem($project.name $project.key)
                #end
            #end

            </table>

            #if ($action.getPostCommitURL() != "")
            <div class="form">
              <h3 id="gh_post_receive_header">Post-Commit Hook</h3>
              <p>Please add the URL below as a post-commit service to the Bitbucket repository.</p>
              <p><input id="gh_post_receive_textbox" type"text" size="90" value="$action.getPostCommitURL()"></p>
            </div>
            #end
                
			<div class="form">
                <p>Add additional Bitbucket repositories to the projects to link their commits with JIRA issue keys.</p>

                #if ($action.getMode() == 'single')
                    Enter the Bitbucket repository URL.</p>
                #else
                    Enter the JIRA project and Bitbucket repository URL.</p>
                #end

                #foreach ($errorMessage in $action.getErrorMessages())
                    <div style="margin: 10px; border: 2px solid red; background: #ffb; padding: 15px;">
                           <h4>$errorMessage </h4>
                    </div>
                #end


                <form id="repoEntry" method="post" action="${baseurl}/secure/admin/ConfigureBitbucketRepositories.jspa">
                  <input type="hidden" name="nextAction" value="AddRepository">
                  <input type="hidden" name="atl_token" value="$atl_token">
                  <table>
                    <tr>
                      <td><label for="url">Repository Url</label></td>
                      <td><input type="text" id="url" name="url" value="$textutils.htmlEncode($action.getURL())" size="60" /></td>
                      <td><i>eg: https://bitbucket.org/atlassianguy/my-repository</i></td>
                    </tr>  
                    <tr>  
                      <td valign="top"><label for="repoVisibility">Repository is private</label></td>
                        #if ($action.isPrivateRepository()) 
                            #set ($checked = "checked") 
                            #set ($hidden = "") 
                        #else 
                            #set ($checked = "") 
                            #set ($hidden = "style='display:none'") 
                        #end
                      <td colspan="2"> 
                        <input type="checkbox" name="privateRepository" id="privateRepository" $checked>
                        <div class="innerform" id="repositoryCredentials" $hidden>
                            <span>Please enter the username and password to access the repository</span>
                            <div><label for="bbUsername">Username</label><input type="text" name="bbUsername" id="bbUsername" value="$action.getBbUsername()"></div>
                            <div><label for="bPassword">Password</label><input type="password" name="bbPassword" id="bbPassword" value="$action.getBbPassword()"></div>
                        </div>
                      </td>
                    </tr>  
                    #if ($action.getMode() == 'single')
                        <input type='hidden' name='projectKey' value='$action.getProjectKey()'>
                        <input type='hidden' name='mode' value='single'>
                    #else
                    <tr>  

                      <td><label for="projectKey">Choose project</label></td>
                      <td valign='top'>
                          <select name="projectKey" id="projectKey">
                            #foreach ($project in $action.getProjects())
                              <option value="${project.key}"#if ($action.getProjectKey() == $project.key) selected #end>$textutils.htmlEncode(${project.name})</option>
                            #end
                          </select>
                      </td>
                    </tr>  
                    #end
                    
                    <tr>  
                      <td valign="top"><label for="addPostCommitService">Add postcomit service</label></td>
                    #if ($action.addPostCommitService()) 
                        #set ($checked = "checked") 
                        #set ($hidden = "") 
                    #else 
                        #set ($checked = "") 
                        #set ($hidden = "style='display:none'") 
                    #end
                      <td colspan="2"> 
                        <input type="checkbox" name="addPostCommitService" id="addPostCommitService" $checked>
                        <div class="innerform" id="postCommitServiceDetails" $hidden>
                            <span>Installing postcommit service requires admin access to the repository.</span>
                            <div><label for="adminUsername">Username</label><input type="text" name="adminUsername" id="adminUsername" value="$action.getAdminUsername()"></div>
                            <div><label for="adminPassword">Password</label><input type="text" name="adminPassword" id="adminPassword" value="$action.getAdminPassword()"></div>
                        </div>
                      </td>
                    </tr>  
                    <tr>
                        <td>&nbsp;</td><td></td>
                    </tr>  
                    <tr>  
                        <td valign='top'>
                            <input type="submit" name="Submit" id="Submit" value="Add Repository"/>
                        </td>
                        <td></td>
                    </tr>
                  </table>
             </form>

         </div>
  </body>
</html>