
<html>
  <head>
    <title>
        #if ($action.getMode() == 'single')
            Manage DVCS Repositories for $action.getProjectKey()
        #else
            Manage DVCS Repositories
        #end
    </title>

    <script type="text/javascript">
        var BASE_URL = "${baseurl}"

        function init_repositories()
        {
            #if ($action.nextAction == 'ForceSync')
                forceSync($action.getRepositoryId());
            #end
            retrieveSyncStatus();
            AJS.$("#repoEntry").submit(submitFunction);
        }
     </script>

    <meta name="admin.active.section" content="admin_plugins_menu/source_control"/>
    <meta name="admin.active.tab" content="bitbucket_bulk_repo"/>
  </head>

  <body>
        <input type="hidden" id="addedRepositoryId" value="$action.getAddedRepositoryId()">

 		<h3>Manage DVCS Repositories</h3>

        #if ($action.isOnDemandLicense())
            <p>Connect your <a href="http://confluence.atlassian.com/display/AOD/Linking+a+bitbucket+or+GitHub+repository+with+JIRA+OnDemand" target="_blank">Bitbucket and GitHub repo to JIRA OnDemand</a> and link every commit with a bug or development task. Once configured, JIRA will query the repository searching commits for issue keys.</p>
        #else
            <p>Connect your <a href="http://confluence.atlassian.com/display/BITBUCKET/Using+the+DVCS+Connector+Plugin" target="_blank">Bitbucket and GitHub repo to JIRA</a> and link every commit with a bug or development task. Once configured, JIRA will query the repository searching commits for issue keys.</p>
        #end
        <br/>

        <input class="aui-button submit" id="linkRepositoryButton" type="button" title="Link a Repository" onclick="showAddRepoDetails(true)" value="Link a Repository" />

        <div id="addRepositoryContent">
            <div id="addRepositoryDetails" class="aui-message">
            <span class="svg-icon close size-16 customClose" onclick="showAddRepoDetails(false);"></span>

            <h4 style="margin: 0px;">Link a new repository</h4>

            #foreach ($errorMessage in $action.getErrorMessages())
                <div class="aui-message error shadowed">
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>Error!</strong>
                    </p>
                    <p>$errorMessage</p>
                </div>
            #end

            <form class="aui top-label" id="repoEntry" method="post">

                <input type="hidden" name="atl_token" id="atl_token" value="$atl_token">
                <input type="hidden" name="isPrivate" id="isPrivate">

                #if ($action.getMode() == 'single')
                    <input type='hidden' name='projectKey' id='projectKey' value='$action.getProjectKey()'>
                    <input type='hidden' name='mode' value='single'>
                #else
                    <div class="field-group">
                        <label for="projectKey">Project:</label>
                        <select name="projectKey" id="projectKey">
                            #foreach ($project in $action.getProjects())
                                <option value="${project.key}"#if ($action.getProjectKey() == $project.key) selected #end>$textutils.htmlEncode(${project.name})</option>
                            #end
                        </select>
                        <div class="fieldValue" id="projectKeyReadOnly"></div>
                     </div>
                #end

                <div class="aui-item-column1">
                    <div class="field-group" >
                      <label for="url">Repository Url:</label>
                      <input type="text" id="url" name="repositoryUrl" value="$textutils.htmlEncode($action.getRepositoryUrl())"/>
                      <div class="fieldValue" id="urlReadOnly"></div>
                    </div>
                </div>
                <div class="aui-item-column2" id="examples">
                    <label>Examples:</label>
                    <div style="padding-top: 3px;"><i>https://bitbucket.org/atlassianguy/my-repository</i></div>
                    <div><i>https://github.com/owner/repository</i></div>
                </div>

                <div id="bbCredentials"></div>


                <div id="aui-message-bar"></div>

                <div class="buttons-container">
                    <div class="buttons">
                        <input class="button submit" type="submit" name="Submit" id="Submit" value="Continue" />
                        <a class="cancel" href="#" onclick="showAddRepoDetails(false)">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        </div>

        #macro ( repositoryLineItem $projectName $projectKey )
            #set($encodedProjectName = $textutils.htmlEncode($projectName))
            #set($projectRepositories = $action.getProjectRepositories($projectKey))
            #if ($projectRepositories.size() > 0)
                <tr> <td height="38px" colspan="3" class="gh_table_td_pname">
                    <span class="gh_table_project_name">$encodedProjectName</span><span class="gh_table_project_key">($projectKey)</span>
                </td> </tr>
            #end
            #foreach ($repository in $projectRepositories)

                    #set($repositoryId = $repository.getId())
                    #set($encodedProjectKey = $textutils.htmlEncode($action.getProjectKey()))
                    #set($encodedMode = $textutils.htmlEncode($action.getMode()))
                    <tr>
                        #if ($repository.getRepositoryType() == 'bitbucket')
                            #set($repoTypeImgName = "bitbucket")
                        #else
                            #set($repoTypeImgName = "github")
                        #end
                        <td width="1px" height="40px">
                            <span class="$repository.getRepositoryType()Logo">&nbsp;</span>
                            </td>
                        <td><a class="repositoryNameLink" href="$textutils.htmlEncode($repository.repositoryUri.repositoryUrl)" target="_new">
                            <span class="repositoryName">$textutils.htmlEncode($repository.repositoryName)</span>
                        </a></td>
                        <td style="text-align: right;">
                            <span id="syncicon_$repositoryId" class="syncicon" >&nbsp;</span>
                            <span id="sync_status_message_$repositoryId" class="gh_messages">
                                <span class="content"></span> |
                            </span>

                            <a href="#" onclick="forceSync($repositoryId); AJS.$('.gh_messages.repository$repositoryId').slideDown(); return false;">Force Sync</a> |
                            <a href="#" onclick="deleteRepository($repositoryId, '$textutils.htmlEncode($repository.repositoryUri.repositoryUrl)')">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="status" colspan="3">
                            <span id="sync_error_message_$repositoryId" class="gh_messages">
                            </span>
                        </td>
                    </tr>

            #end
        #end


        <table class="gh_table" cellspacing="0" cellpadding="0">
            #if ($action.getMode() == 'single')
                #repositoryLineItem($action.getProjectName() $action.getProjectKey())
            #else
                #foreach ($project in $action.getProjects())
                    #repositoryLineItem($project.name $project.key)
                #end
            #end

        </table>

  </body>
</html>