#* @vtlvariable name="action" type="com.atlassian.jira.plugins.bitbucket.webwork.ConfigureBitbucketRepositories" *#
#* @vtlvariable name="progress" type="com.atlassian.jira.plugins.bitbucket.mapper.Progress" *#

<div style="text-align: center">

    #if($action.getProgress().isEmpty())
        <script type="text/javascript">syncComplete = true;</script>
        <strong>Sync Processing Complete</strong>
    #else
        #foreach($progress in $action.getProgress())
            <p>Synchronizing <strong>$progress.getKey().getProjectKey()</strong> at revision
                <strong>$progress.getProgress()</strong></p>
        #end
    #end

</div>

