#* @vtlvariable name="action" type="com.atlassian.jira.plugins.bitbucket.webwork.ConfigureBitbucketRepositories" *#
#* @vtlvariable name="progress" type="com.atlassian.jira.plugins.bitbucket.mapper.Progress" *#

<div>
    #set($progress = $action.getProgress())
    #if($progress.isFinished())
        <script type="text/javascript">syncComplete[$action.getRepositoryId()] = true;</script>
        <strong>Sync Finished:</strong>
    #else
        <strong>Sync Running:</strong>
    #end
    #* @vtlvariable name="key" type="com.atlassian.jira.plugins.bitbucket.mapper.SynchronizationKey" *#
    Synchronized <strong>$progress.changesetCount</strong> changesets, found <strong>$progress.jiraCount</strong> matching JIRA issues

    #set($error = $progress.getError())
    #if($error)
        <div class="error">
            <strong>Sync failed:</strong> $error
        </div>
    #end
        

</div>

